@charset "utf-8";

// 화면대응 비율
$ratio: 1;
// Map deep getter
// @param {Map} $map
// @param {Arglist} $keys
// @return {*} - Desired valuenn

$colorRed : #cb2e3c;
$colorBlue : #1764ae;
$colorSkyblue : #40abd8;

$contentWidth : 1600px;
$minWidth : 1600px;

$mobileWidth: 812px;
