// 게시판

.board{
    .list{
        overflow: hidden;
    }
    .listItem{
        float: left;
        width: 150px;
        border: 1px solid red;
        .listItemLink{
            display: block;
            &:hover{
                .title{
                    color: red;
                }
            }
        }
        .wrap_thumb{
            text-align: center;
            background: gray;
        }
        .wrap_meta{
            overflow: hidden;
        }
        .title{
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .iconfile{
            float: right;
        }
    }

}
.paginate{
    margin: 65px 0 0 0;
    text-align: center;
    .paginate_number{
        display: inline-block;
        vertical-align: top;
        a{
            display: inline-block;
            margin: 0 13px;
            font-size: 20px;
            color: #888;
            vertical-align: top;
        }
        .active{
            color: $colorRed;
            text-decoration: underline;
        }
    }
}
