// 게시판

.board{
    .list{
        overflow: hidden;
    }
    .listItem{
        float: left;
        width: 150px;
        border: 1px solid red;
        .listItemLink{
            display: block;
            &:hover{
                .title{
                    color: red;
                }
            }
        }
        .wrap_thumb{
            text-align: center;
            background: gray;
        }
        .wrap_meta{
            overflow: hidden;
        }
        .title{
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .iconfile{
            float: right;
        }
    }

}
.paginate{
    margin: 65px 0 0 0;
    text-align: center;
    line-height: 25px;
    [class^=btn_]{
        display: inline-block;
        padding: 6px;
        vertical-align: top;
    }
    .ico_arr{
        display: block;
        overflow: hidden;
        width: 10px;
        height: 10px;
        border: 2px solid #aaa;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
        color: transparent;
    }
    .btn_prev,.btn_front{
        .ico_arr{
            transform: rotate(45deg) scale(-1);
        }
    }
    .btn_front:before,.btn_end:before{
        content: '';
        display: block;
        overflow: hidden;
        float:left;
        width: 10px;
        height: 10px;
        border: 2px solid #aaa;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg) scale(-1);
        color: transparent;
    }
    .btn_end:before{
        transform: rotate(45deg);
    }
    .paginate_number{
        display: inline-block;
        vertical-align: top;
        a{
            display: inline-block;
            margin: 0 13px;
            font-size: 20px;
            color: #888;
            vertical-align: top;
        }
        .active{
            color: $colorRed;
            text-decoration: underline;
        }
    }
}
