.is_mobile{display:none;}
// 홈
#wrap{
    position: relative;
    min-width: $minWidth;
    width: 100%;
    min-height: 100%;
    padding-bottom: 105px;
    box-sizing: border-box;
}
#header{
    z-index: 100;
    position: fixed;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid rgba(68,68,68,.5);
    transition: all 0.3s linear;
    font-family: 'Lato', sans-serif;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    &.active,&.expanded{
        .logo{
            .ico_logo{
                @include get-icon-sprite(ico_home_logo_dark, $sp_hepa);
            }
        }
        .gnb{
            .gnb_item{
                color: #101a34;
            }
        }
        .snb{
            border-top: 1px solid #ebebeb;
        }
    }
    &.expanded{
        overflow: hidden;
        overflow-x: auto;
        background-color: #fff !important;
    }
    .logo{
        float: left;
        height: 100px;
        margin-left: 60px;
        padding-top: 34px;
        box-sizing: border-box;
        .ico_logo{
            @include get-icon-sprite(ico_home_logo, $sp_hepa);
            vertical-align: top;
        }
    }
    .wrap_cont{
        z-index: 20;
        position: relative;
        max-width: $contentWidth;
        min-width: $minWidth;
        height: 100px;
        margin: 0 auto;
        text-align: right;
    }
    .gnb{
        overflow: hidden;
        display: table;
        table-layout: fixed;
        width: 40%;
        float: right;
        padding-top: 40px;
        vertical-align: top;
        white-space: nowrap;
        font-size: 0;
        .gnb_item{
            width: 20%;
            display: table-cell;
            font-size: 20px;
            line-height: 60px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            vertical-align: top;
            &:hover{
                color: $colorBlue;
            }
        }
    }
    .header_search{
        position: absolute;
        top: 11px;
        right: 60px;
        line-height: 23px;
        color: rgba(255,255,255,.5);
        .item_search{
            display: inline-block;
            vertical-align: bottom;
            .label_sch{
                display: inline-block;
                margin-right: 5px;
                font-size: 13px;
                line-height: 14px;
                vertical-align: bottom;
            }
            .input_label_sch{
                width: 90px;
                height: 22px;
                margin: 0 5px 0 0;
                padding: 0;
                box-sizing: border-box;
                border: 0;
                border-bottom: 2px solid rgba(255,255,255,.5);
                font-size: 13px;
                line-height: 15px;
                color: #fff;
                vertical-align: bottom;
                background: none;
            }
            .btn_search{
                margin: 0 15px 0 0;
                font-size: 13px;
                line-height: 15px;
                border:1px solid gray;
                vertical-align: bottom;
            }
        }
        .item_link{
            display: inline-block;
            margin-right: 15px;
            font-size: 12px;
            line-height: 14px;
            vertical-align: bottom;
        }
        .item_setting{
            display: inline-block;
            vertical-align: bottom;
            .ico_setting{
                @include get-icon-sprite(ico_home_setting, $sp_hepa);
                margin: 2px 0 -2px;
            }
        }
    }
    .layer_setting{
        display: none;
        position: absolute;
        top: 38px;
        right: 32px;
        padding-top: 11px;
        &:before{
            @include get-icon-sprite(ico_gnb_arr, $sp_hepa);
            position: absolute;
            top: 0;
            right: 26px;
        }
        .wrap_setting{
            overflow: hidden;
            height: 70px;
            border-radius: 10px;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.13),-1px -1px 1px rgba(0,0,0,0.13);
            background: #fff;
        }
        .item_setting{
            position: relative;
            float: left;
            width: 65px;
            margin: 15px 0 0 0;
            align-content: center;
            color: #014592;
            font-size: 11px;
            text-align: center;
            + .item_setting:before{
                content: '';
                position: absolute;
                top:0;
                left:0;
                width:0;
                height: 39px;
                border-left: 1px solid #efefef;
            }
            [class^=spim]{
                display: block;
                margin:0 auto;
            }
            .ico_archive{
                @include get-icon-sprite(ico_gnb_archive, $sp_hepa);
            }
            .ico_library{
                @include get-icon-sprite(ico_gnb_library, $sp_hepa);
            }
            .ico_phone{
                @include get-icon-sprite(ico_gnb_phone, $sp_hepa);
            }
            .ico_product{
                @include get-icon-sprite(ico_gnb_product, $sp_hepa);
            }
        }
    }
    .lnb{
        overflow: hidden;
        position: relative;
        z-index: 10;
        height: 0;
        background: #fff;
        opacity: 0;
        min-width: $minWidth;
        border-top: 1px solid #d6d7d5;
        .wrap_lnb_cont{
            overflow: hidden;
            max-width: $contentWidth;
            margin: 0 auto;
        }
        .lnb_item{
            position: absolute;
            top: 20px;
            left: 20px;
            p{
                font-size: 16px;
                color: #333;
                line-height: 26px;
            }
        }
        .lnb_menu{
            float: right;
            display: table;
            table-layout: fixed;
            width: 73.3%;
            border-right: 1px solid #d6d7d5;
            .item_menu_wrap{
                display: table-cell;
                width: 20%;
                height: 220px;
                padding-top: 30px;
                border-left: 1px solid #d6d7d5;
                .item_menu{
                    display: block;
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 50px;
                    color: #101a34;
                    &:hover{
                        color: $colorBlue;
                    }
                }
            }
        }
    }
}
@media all and (max-width: $mobileWidth){
#header{
    position: static;
    border-bottom: none;
}
}
.snb{
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    height: 59px;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    .wrap_snb_cont{
    }

    .snb_menu{
        overflow:hidden;
        position: absolute;
        top: 0;
        white-space: nowrap;
    }
    .item_menu_wrap{
        display: inline-block;
        vertical-align: top;
        .item_menu_link{
            display: block;
            padding: 0 45px;
            line-height: 60px;
            text-align: center;
            font-size: 18px;
            color: #101a34;
            font-weight: bold;
            &:hover,
            &.on{
                color: $colorBlue;
                &:after{
                    @include get-icon-sprite(ico_gnb_tab_on, $sp_hepa);
                }
            }
            &:after{
                @include get-icon-sprite(ico_gnb_tab, $sp_hepa);
                margin: -2px 0 2px 10px;
            }
        }
        .item_menu{
            display: block;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            line-height: 50px;
            color: #101a34;
        }
    }
    .item_menu_sub{
        margin-top: -1px;
        padding: 20px 0;
        border: 1px solid rgba(0,0,0,0.05);
        background: #fff;
        .item_sub_link{
            display: block;
            text-align: center;
            font-size: 16px;
            line-height: 40px;
            font-weight: bold;
            color: #5b5f6a;
            &:hover,
            &.on{
                color: $colorBlue;
                text-decoration: underline;
            }
        }
    }
}
@media all and (max-width: $mobileWidth){
.snb{
    position: static;
    .snb_menu{
        position: static;
        display: table;
        table-layout: fixed;
        width: 100%;
        .item_menu_wrap{
            display: table-cell;
            .item_menu_link{
                font-size: 17px;
                &::after{
                    display: none;
                }
            }
            .item_menu_link.on{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    left:0;
                    bottom:0;
                    border-bottom: 3px solid $colorBlue;
                }
            }
        }
    }
}
}
#wrap.bridge{
    .visual_area{
        background: red;
    }
}
#wrap.video{
    .visual_area{
        background: orange;
    }
}
#wrap.cloud{
    .visual_area{
        background: gold;
    }
}
#wrap.town{
    .visual_area{
        background: green;

    }
}
#wrap.contact{
    .visual_area{
        background: purple;
    }
}
#wrap.mypage{
    .visual_area{
        background: blue;
    }
}
#footer{
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 105px;
    background-color: #444;
    .wrap_cont{
        position: relative;
        max-width: $contentWidth;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .footer_items{
        overflow: hidden;
        margin-top: 34px;
        a{
            float: left;
            font-size: 13px;
            line-height: 15px;
            color: #fff;
            + a:before{
                content: '';
                display: inline-block;
                vertical-align: top;
                width:0;
                height: 13px;
                margin: 1px 15px 0 16px;
                border-left: 1px solid #fff;
            }
        }
    }
    .footer_copyright{
        font-size: 13px;
        color: #fff;
    }
    .footer_logo{
        position: absolute;
        top:0;
        right: 60px;
        .ico_footer_logo{
            @include get-icon-sprite(ico_footer_logo, $sp_hepa);
        }
    }
}
