// 홈
#wrap{
    position: relative;
    min-width: $minWidth;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
#header{
    z-index: 100;
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: all 0.3s linear;
    font-family: 'Lato', sans-serif;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    &.active{
        box-shadow: 0px 0px 22px 7px rgba(0,0,0,0.18);
    }
    .wrap_cont{
        z-index: 20;
        position: relative;
        max-width: $contentWidth;
        min-width: $minWidth;
        height: 100px;
        margin: 0 auto;
        text-align: right;
    }
    .logo_area{
        float: left;
        height: 100px;
        margin-left: 100px;
        padding-top: 25px;
        box-sizing: border-box;
        .logo{
            float: left;
        }
        .ico_logo{
            @include get-icon-sprite(ico_home_logo1, $sp_bene);
            vertical-align: top;
        }
        .ico_logo2{
            @include get-icon-sprite(ico_home_logo2, $sp_bene);
            vertical-align: top;
        }
        .ico_logo3{
            @include get-icon-sprite(ico_home_logo3, $sp_bene);
            vertical-align: top;
        }
    }
    .gnb{
        overflow: hidden;
        padding: 20px 100px 0 0;
        vertical-align: top;
        white-space: nowrap;
        font-size: 0;
        .gnb_item{
            display: inline-block;
            position: relative;
            margin-left: 35px;
            font-size: 20px;
            line-height: 60px;
            font-weight: 900;
            color: #3a466a;
            text-align: center;
            text-shadow: 2px 1px 0 rgba(255,255,255,0.8);
            vertical-align: top;
            opacity: .9;
            &:before{
                content: '';
                position: absolute; bottom: 2px; left: 50%; width: 0; height: 3px; background-color: #3a466a; opacity: .1;transition: 0.4s;
            }
            &:hover{
                opacity: 1;
                &:before{
                    width: 100%; transition: 0.4s; left: 0;opacity: 1;
                }
            }
        }
    }
}
#footer{
    overflow: hidden;
    height: 200px;
    background-color: #2a2e37;
    .wrap_cont{
        display: flex;
        height: 100%;
        flex-direction: column;
        position: relative;
        max-width: $contentWidth;
        margin: 0 auto;
        box-sizing: border-box;
        justify-content: center;
    }
    .bar{
        width:0;
        height: 13px;
        margin: 1px 11px 0 12px;
        border-left: 1px solid rgba(255,255,255,.3);
    }
    .footer_items{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 15px;
        color: rgba(255,255,255,.3);
        a{
            float: left;
            font-size: 15px;
        }
    }
    .sns{
        @include get-icon-sprite(ico_footer, $sp_bene);
        position: absolute;
        top:83px;
        right: 0;
    }
}
