

// 패스
.path_area{
    padding: 40px 0 23px 0;
    margin-bottom: 80px;
    border-bottom: 1px solid #dedede;
    text-align: right;
    a{
        display: inline-block;
        margin-left: 11px;
        font-size: 12px;
        line-height: 15px;
        color: #989898;
        vertical-align: top;
        &::after{
            @include get-icon-sprite(ico_path_arr, $sp_hepa);
            margin: 4px 0 0 11px;
            vertical-align: top;
        }
    }
    strong{
        display: inline-block;
        margin-left: 11px;
        border-bottom: 2px solid #d4d4d4;
        font-size: 12px;
        line-height: 15px;
        color: #000;
        font-weight: normal;
        vertical-align: top;
    }
}

// 탭메뉴
.tab{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 50px;
    border:1px solid #e0e0e0;
    background: #fbfbfb;
    a{
        display: table-cell;
        height: 58px;
        text-align: center;
        font-size: 18px;
        color: #666;
        vertical-align: middle;
        &.on{
            color: #fff;
            background: $colorRed;
        }
    }
}

// 버튼
.ico_download{
    @include get-icon-sprite(ico_bridge_down, $sp_hepa);
    margin: -2px 6px 2px 0;
}
.ico_favorite{
    @include get-icon-sprite(ico_bridge_fav, $sp_hepa);
    margin: -2px 6px 2px 0;
}
.ico_email{
    @include get-icon-sprite(ico_bridge_email, $sp_hepa);
    margin: -2px 6px 2px 0;
}
.btn_border{
    overflow: hidden;
    display: inline-block;
    height: 38px;
    padding: 0 10px;
    border: 1px solid $colorSkyblue;
    border-radius: 3px;
    vertical-align: top;
    color: #0d8dc3;
    font-size: 14px;
    line-height: 38px;
}
.btn_colored{
    overflow: hidden;
    display: inline-block;
    height: 40px;
    padding: 0 15px;
    border-radius: 3px;
    vertical-align: top;
    color: #fff;
    background: $colorBlue;
    font-size: 14px;
    line-height: 38px;
}

// 셀렉트박스
.dropdown{
    display: inline-block;
    width: 300px;
    border-bottom: 1px solid #000;
    text-align: left;
    white-space: nowrap;
    .btn_dropdown{
        position: relative;
        display: block;
        font-size: 16px;
        color: #666;
        line-height: 55px;

        &:after{
            content: '';
            position: absolute;
            top: 20px;
            right: 8px;
            width: 5px;
            height: 5px;
            background: red;
        }
    }
    .dropdown_layer{
        position: absolute;
        top: 56px;
        left:0;
        right:0;
        padding: 0 28px;
        border: 1px solid #eaeaea;
        border-top:none;
        background: #fff;
        .dropdown_item{
            overflow: hidden;
            display: block;
            line-height: 54px;
            text-overflow: ellipsis;
            white-space: nowrap;
            + .dropdown_item{
                border-top: 1px dashed #e7e7e7;
            }
            &.on{
                color: $colorRed;
            }
        }
    }
}

// 페이징
.paginate{
    margin: 65px 0 0 0;
    text-align: center;
    line-height: 25px;
    [class^=btn_]{
        display: inline-block;
        padding: 6px;
        vertical-align: top;
    }
    .ico_arr{
        display: block;
        overflow: hidden;
        width: 10px;
        height: 10px;
        border: 2px solid #aaa;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
        color: transparent;
    }
    .btn_prev,.btn_front{
        .ico_arr{
            transform: rotate(45deg) scale(-1);
        }
    }
    .btn_front:before,.btn_end:before{
        content: '';
        display: block;
        overflow: hidden;
        float:left;
        width: 10px;
        height: 10px;
        margin-right: -7px; 
        border: 2px solid #aaa;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg) scale(-1);
        color: transparent;
    }
    .btn_end:before{
        transform: rotate(45deg);
    }
    .paginate_number{
        display: inline-block;
        vertical-align: top;
        a{
            display: inline-block;
            margin: 0 13px;
            font-size: 20px;
            color: #888;
            vertical-align: top;
        }
        .active{
            color: $colorRed;
            text-decoration: underline;
        }
    }
}
