//

.section_top{
    .visual_area{
        height: 357px;
        margin-bottom: -22px;
        background: pink;
        text-align: center;
        h2{
            padding-top: 221px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            color: #fff;
        }
        p{
            margin-top: 16px;
            font-size: 17px;
            text-align: center;
            color: #fff;
        }
    }
}
.container .content{
    position: relative;
    width: 1160px;
    padding: 40px 50px 120px;
    margin: 0 auto;
    background: #fff;
    &:before,&:after{
        content: '';
        position: absolute;
        top: 22px;
        width: 32px;
        height: 34px;
        background: url(../img/bg_sub_gr.png) no-repeat 0 0;
    }
    &:before{
        right: 100%;
        transform: scaleX(-1);
    }
    &:after{
        left: 100%;
    }
}

.path_area{
    padding: 40px 0 23px 0;
    margin-bottom: 80px;
    border-bottom: 1px solid #dedede;
    text-align: right;
    a{
        display: inline-block;
        margin-left: 11px;
        font-size: 12px;
        line-height: 15px;
        color: #989898;
        vertical-align: top;
        &::after{
            @include get-icon-sprite(ico_path_arr, $sp_hepa);
            margin: 4px 0 0 11px;
            vertical-align: top;
        }
    }
    strong{
        display: inline-block;
        margin-left: 11px;
        border-bottom: 2px solid #d4d4d4;
        font-size: 12px;
        line-height: 15px;
        color: #000;
        font-weight: normal;
        vertical-align: top;
    }
}

.tab{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 50px;
    border:1px solid #e0e0e0;
    background: #fbfbfb;
    a{
        display: table-cell;
        height: 58px;
        text-align: center;
        font-size: 18px;
        color: #666;
        vertical-align: middle;
        &.on{
            color: #fff;
            background: $colorRed;
        }
    }
}
.ico_download{
    @include get-icon-sprite(ico_bridge_down, $sp_hepa);
    margin: -2px 6px 2px 0;
}
.ico_favorite{
    @include get-icon-sprite(ico_bridge_fav, $sp_hepa);
    margin: -2px 6px 2px 0;
}
.ico_email{
    @include get-icon-sprite(ico_bridge_email, $sp_hepa);
    margin: -2px 6px 2px 0;
}

// 제품정보
.section_pi{
    .btn_area{
        overflow: hidden;
        
        .fl{
            float: left;
        }
        .fr{
            float: right;
        }
        .btn_border{
            @include btn_border
        }
        .btn_colored{
            overflow: hidden;
            display: inline-block;
            height: 40px;
            padding: 0 15px;
            border-radius: 3px;
            vertical-align: top;
            color: #fff;
            background: $colorBlue;
            font-size: 14px;
            line-height: 38px;
        }
    }
    h3{
        margin-top: 48px;
        font-size: 24px;
        color: #000;
        font-weight: normal;
    }
    .pi_txt{
        margin-top: 23px;
        padding: 30px 59px;
        font-size: 16px;
        color: #666;
        background: #faf9f7;
        p{
            line-height: 29px;
            + p{
                margin-top: 10px;
            }
        }
    }
}

// 
.section_video{
    margin-top: -80px;
    .wrap_video{
        overflow: hidden;
    }
    .btn_area{
        padding-top: 50px;
        .btn_border{
            @include btn_border;
        }
    }   
    .player_area{
        width: 824px;
        margin-top: 29px;
        .player_meta{
            height: 75px;
            padding: 25px 0 0 40px;
            line-height: 23px;
            border-top: 1px solid #e4e4e2;
            background: #faf9f7;
            .title{
                font-size: 16px;
                color: #333;
            }
            .date{
                font-size: 14px;
                color: #989898;
            }
        }
    }
    .video_area{
        float: right;
        width: 262px;
        height: 683px;
        padding:0 0 0 38px;
        
        background: #faf9f7;
        .video_tab{
            overflow: hidden;
            margin-top: 42px;
            margin-right: 60px;
            .video_tab_btn{
                float: left;
                width: 50%;
                height: 48px;
                padding-top: 7px;
                padding-left: 14px;
                box-sizing: border-box;
                border:1px solid #b7b7b7;
                border-bottom: none;
                font-size: 15px;
                color: #b7b7b7;
                line-height: 18px;
                &.on{
                    position: relative;
                    border-color: $colorSkyblue;
                    font-weight: bold;
                    color: $colorSkyblue;
                }
                + .video_tab_btn{
                    margin-left: -1px;
                }
            }
        }
        .scroll{
            overflow: hidden;
            overflow-y: auto;
            height: 516px;
            margin-top: 26px;
            padding-right: 60px;
        }
        .video_list{
            li + li{
                margin-top: 36px;
            }
            a{
                display: block;
            }
            .title{
                overflow: hidden;
                margin-top: 15px;
                font-size: 14px;
                line-height: 16px;
                color: #666;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .time{
                display: block;
                font-size: 12px;
                line-height: 15px;
                color: #989898;
            }
        }
    }
    .section_cont{
        padding-top: 70px;
        .select_area{
            text-align: right;
            padding-bottom: 30px;
        }
        .dropdown{
            display: inline-block;
            width: 300px;
            border-bottom: 1px solid #000;
            text-align: left;
            white-space: nowrap;
            .btn_dropdown{
                position: relative;
                display: block;
                font-size: 16px;
                color: #666;
                line-height: 55px;
                
                &:after{
                    content: '';
                    position: absolute;
                    top: 20px;
                    right: 8px;
                    width: 5px;
                    height: 5px;
                    background: red;
                }
            }
        }
    }
}

//
.section_library{
   .library_list{
        overflow: hidden;
        margin-left: -80px;
       li{
           position: relative;
           float: left;
           width: 230px;
           margin-bottom: 70px;
           margin-left: 80px;
       }
       a{
           display: block;
           &:hover .title{
               color: $colorRed;
           }
       }
       li.has_icon{
           &:after{
               content: '';
               position: absolute;
               bottom:0;
               right:0;
               width: 20px;
               height: 40px;
               background: red;
           }
           .title{
               margin-right: 40px;
            }
       } 
       .thumb_area{
           width: 230px;
           height: 270px;
           padding: 47px 0 0 0;
           margin-bottom: 30px;
           text-align: center;
           background: #f2f2f2;
           .thumb_wrap{
               display: inline-block;
               position: relative;
               &:after{
                   content:'';
                   position: absolute;
                   width: 100%;
                   height: 100%;
                   left: 6px;
                   top: 9px;
                   background: #fff;
               }
           }
           img{
               z-index: 5;
               position: relative;
               vertical-align: top;
               background: pink;
           }
       }
       .title{
           overflow: hidden;
           text-overflow: ellipsis;
           white-space: nowrap;
           font-size: 16px;
           line-height: 20px;
           color: #333;
       }
       .date{
           font-size: 14px;
           color: #989898;
       }
   } 
   .paginate{
       margin-top: 0
   }
}

// FAQ
.section_faq{
    .search_area{
        margin-bottom: 55px;

        &:after{
            content: '';
            display: block;
            clear: both;
        }
        .ico_search{
            @include get-icon-sprite(ico_town_faq, $sp_hepa);
            margin: -1px 7px 1px 0;
        }
        .ico_reply{
            @include get-icon-sprite(ico_town_reply, $sp_hepa);
            margin: -1px 7px 1px 0;
        }
        .search_form{
            float: left;
            width: 810px;
            height: 70px;
            border: 1px solid #e0e0e0;
            .search_select{
                z-index: 10;
                float: left;
                position: relative;
                width: 208px;
                .select_btn{
                    position: relative;
                    display: block;
                    padding: 0 0 0 38px;
                    border-right: 1px solid #e0e0e0;
                    font-size: 16px;
                    color: #666;
                    line-height: 70px;
                    background: #fbfbfb;
                    &::after{
                        @include get-icon-sprite(ico_town_arr, $sp_hepa);
                        position: absolute;
                        top: 0;
                        right: 40px;
                        bottom: 0;
                        margin: auto;
                    }
                }
                .select_layer{
                    display: none;
                    position: absolute;
                    top: 70px;
                    left: -1px;
                    right: 0;
                    padding: 15px 0;
                    border: 1px solid #e0e0e0;
                    background: #fff;
                    .select_layer_opt{
                        display: block;
                        padding: 0 0 0 38px;
                        line-height: 45px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }

                }
            }
            .search_input{
                float: left;
            }
        }
        .btn_colored{
            float: left;
            overflow: hidden;
            width: 170px;
            height: 72px;
            margin-left: 5px;
            background: $colorSkyblue;
            color: #fff;
            text-align: center;
            line-height: 72px;
        }
        .btn_border{
            float: left;
            overflow: hidden;
            width: 166px;
            height: 70px;
            margin-left: 5px;
            border:1px solid $colorSkyblue;
            color: $colorSkyblue;
            background: #fff;
            text-align: center;
            line-height: 70px;
        }


    }
    .faq_list{
        border-top: 1px solid #000;
        .item_q{
            position: relative;
            overflow: hidden;
            display: block;
            padding: 50px 75px 47px 124px;
            border-bottom: 1px solid #e8e8e8;
            font-size: 18px;
            color: #333;
            &:before{
                @include get-icon-sprite(ico_town_q, $sp_hepa);
                position: absolute;
                top: 50px;
                left: 60px;
            }
            &:after{
                content: '';
                position: absolute;
                top: 50px;
                right: 20px;
                width: 10px;
                height: 10px;
                border: 2px solid #ccc;
                border-width: 2px 2px 0 0;
                transform: rotate(-45deg) scale(-1);
            }
            .cate{
                float: left;
                position: relative;
                width: 102px;
                font-weight: normal;
                &:after{
                    content: '';
                    position: absolute;
                    top: 4px;
                    right:0;
                    width: 0;
                    height: 16px;
                    border-left: 1px solid #e8e8e8;
                    vertical-align: top;
                }

            }
            .title{
                overflow: hidden;

                padding: 0 0 0 30px;
            }

        }
        .item_a{
            display: none;
            padding: 50px 100px 50px 124px;
            background: #faf9f7;
            p{
                font-size: 16px;
                line-height: 30px;
                color: #707070;
                + p{
                    margin-top: 32px;
                }
                .txt_link{
                    text-decoration: underline;
                    color: #1e78e8;
                }
            }
        }
        .open{
            .item_q{
                &:before{
                    @include get-icon-sprite(ico_town_q_on, $sp_hepa);
                }
                &:after{
                    top: 55px;
                    border-color: $colorRed;
                    border-width: 2px 2px 0 0;
                    transform: rotate(-45deg) scale(1);
                }
            }
            .item_a{
                display: block;
            }
        }
    }
}

//
.section_usefullink{
    .usefullink_list{
        overflow: hidden;
        margin-left: -68px;
        li{
            float: left;
            width: 240px;
            height: 414px;
            margin-left: 67px;
            text-align: center;
        }
        .logo_area{
            display: table-cell;
            width: 240px;
            height: 260px;
            text-align: center;
            vertical-align: middle;
            background: #f8f8f8;
        }
        .title{
            display: block;
            margin: 19px 0 12px 0;
            font-size: 18px;
            color: #333;
        }
        .btn_border{
            @include btn_border;
            padding: 0 24px;
        }
    }
}

// contact
.section_contact{
    text-align: center;
    .info_area{
        position: relative;
        margin: 0 auto 81px;
        width: 720px;
        padding:  50px 0;
        border: 1px solid #eaeaea;
        border-top: 0;
        &:before{
            position: absolute;
            top:0;
            left:-1px;
            right:-1px;
            content: '';
            border-top: 3px solid $colorRed;
            height: 0;
        }

        ul{
            display: inline-block;
        }
        li{
            overflow: hidden;
            text-align: left;
            line-height: 38px;
        }
        strong{
            position: relative;
            display: inline-block;
            width: 143px;
            font-weight: normal;
            vertical-align: top;
            &:after{
                content: '';
                position: absolute;
                right:0;
                top: 13px;
                width: 0;
                height: 12px;
                border-right: 1px solid #dbdbdb;
            }
        }
        p{
            display: inline-block;
            padding-left: 39px;
            vertical-align: top;
            a{
                color: $colorSkyblue;
                text-decoration: underline;
            }
        }
    }
    .btn_link{
        display: inline-block;
        width: 232px;
        border-radius: 3px;
        color: #fff;
        font-size: 20px;
        line-height: 54px;
        background: $colorRed;
        vertical-align: top;
    }
}

// request
.section_request{
    text-align: center;
    .txt_request{
        font-size: 20px;
        color: #333;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }
    .request_area{
        border-top: 1px solid #333;
        margin-top: 35px;
        margin-bottom: 80px;
        text-align: left;
        li{
            display: table;
            table-layout: fixed;
            width: 100%;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #e1e1e1;
        }
        .title{
            display: table-cell;
            width: 140px;
            height: 50px;
            padding: 27px 0 0 58px;
            font-size: 16px;
            color: #333;
            background: #faf9f7;
            vertical-align: top;
            strong{
                font-weight: normal;
            }
        }
        .cont{
            display: table-cell;
            position: relative;
            background: #fff;
            .visual_obj{
                position: absolute;
                top: -50px;
                right: 20px;
                width: 145px;
                height: 160px;
                background:red;
            }
        }
    }
    .btn_request{
        display: inline-block;
        padding: 0 53px;
        border-radius: 3px;
        color: #fff;
        font-size: 20px;
        line-height: 54px;
        background: $colorRed;
        vertical-align: top;
    }
}

