// 

.section_top{
    .visual_area{
        height: 357px;
        margin-bottom: -22px;
        background: pink;
        text-align: center;
        h2{
            padding-top: 223px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            color: #fff;
        }
        p{
            margin-top: 10px;
            font-size: 17px;
            text-align: center;
            color: #fff;
        }
    }
}
.container .content{
    width: 1160px;
    padding: 40px 50px 120px;
    margin: 0 auto;
    background: #fff;
}

.path_area{
    padding: 40px 0 23px 0;
    margin-bottom: 80px;
    border-bottom: 1px solid #dedede;
    text-align: right;
    a{
        display: inline-block;
        padding-left: 11px;
        font-size: 12px;
        line-height: 15px;
        color: #989898;
        vertical-align: top;
        &::after{
            content: '';
            display: inline-block;
            width: 3px;
            height: 5px;
            margin: 5px 0 0 11px;
            background: red;
            vertical-align: top;
        }
    }
    strong{
        display: inline-block;
        border-bottom: 2px solid #d4d4d4;
        font-size: 12px;
        line-height: 15px;
        color: #000;
        font-weight: normal;
        vertical-align: top;
    }
}

.tab{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 50px;
    border:1px solid #e0e0e0;
    background: #fbfbfb;
    a{
        display: table-cell;
        height: 58px;
        text-align: center;
        font-size: 18px;
        color: #666;
        vertical-align: middle;
        &.on{
            color: #fff;
            background: $colorRed;
        }
    }
}
.section_pi{
    .btn_area{
        overflow: hidden;
        .fl{
            float: left;
        }
        .fr{
            float: right;
        }
        .btn_border{
            overflow: hidden;
            display: inline-block;
            height: 38px;
            padding: 0 10px;
            border:1px solid #40abd8;
            border-radius: 3px;
            vertical-align: top;
            color: #0d8dc3;
            font-size: 14px;
            line-height: 38px;
        }
        .btn_colored{
            overflow: hidden;
            display: inline-block;
            height: 40px;
            padding: 0 10px;
            border-radius: 3px;
            vertical-align: top;
            color: #fff;
            background: $colorBlue;
            font-size: 14px;
            line-height: 38px;
        }
    }
    h3{
        margin-top: 48px;
        font-size: 24px;
        color: #000;
        font-weight: normal;
    }
    .pi_txt{
        margin-top: 23px;
        padding: 30px 59px;
        font-size: 16px;
        color: #666;
        background: #faf9f7;
        p{
            line-height: 29px;
            + p{
                margin-top: 10px;
            }
        }
    }
}

.section_faq{
    .faq_list{
        border-top: 1px solid #000;
        .item_q{
            display: block;
            border-bottom: 1px solid #e8e8e8;
            font-size: 18px;
            color: #333;
            .cate{
                display: inline-block;
                font-weight: normal;

            }
            .title{
                display: inline-block;
            }

        }
        .item_a{
            padding: 0 124px;
            background: #faf9f7;
        }
    }
}
