//
.section_top{
    .visual_area{
        height: 357px;
        margin-bottom: -22px;
        text-align: center;
        h2{
            padding-top: 221px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            color: #fff;
        }
        p{
            margin-top: 16px;
            font-size: 17px;
            text-align: center;
            color: #fff;
        }
    }
}
.container .content{
    z-index: 10;
    position: relative;
    min-width: $minWidth;
    max-width: 1200px;
    padding: 40px 30px 120px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #fff;
}
.bg_content_shadow{
    overflow: hidden;
    position: absolute;
    top: 357px;
    left:0;
    right:0;
    height: 40px;
    &:before,&:after{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 32px;
        height: 34px;
        background: url(../img/bg_sub_gr.png) no-repeat 0 0;
        // border: 1px solid blue;
    }
    &:before{
        margin-left: -632px;
        transform: scaleX(-1);
    }
    &:after{
        margin-left: 600px;

    }
}

// 1.브릿지 > 제품정보
.section_pi{
    .btn_area{
        overflow: hidden;

        .fl{
            float: left;
        }
        .fr{
            float: right;
        }
        .btn_colored{
            overflow: hidden;
            display: inline-block;
            height: 40px;
            padding: 0 15px;
            border-radius: 3px;
            vertical-align: top;
            color: #fff;
            background: $colorBlue;
            font-size: 14px;
            line-height: 38px;
        }
    }
    h3{
        margin-top: 48px;
        font-size: 24px;
        color: #000;
        font-weight: normal;
    }
    .pi_txt{
        margin-top: 23px;
        padding: 30px 59px;
        font-size: 16px;
        color: #666;
        background: #faf9f7;
        p{
            line-height: 29px;
            + p{
                margin-top: 10px;
            }
        }
    }
}

// 2.비디오
.section_video{
    margin-top: -80px;
    .ico_video_s{
        position: absolute;
        right: 20px;
        bottom: 10px;
    }
    .wrap_video{
        overflow: hidden;
    }
    .btn_area{
        padding-top: 50px;
    }
    .player_area{
        overflow: hidden;
        margin-top: 29px;
        .player_meta{
            height: 75px;
            padding: 25px 0 0 40px;
            line-height: 23px;
            border-top: 1px solid #e4e4e2;
            background: #faf9f7;
            .title{
                font-size: 16px;
                color: #333;
            }
            .date{
                font-size: 14px;
                color: #989898;
            }
        }
    }
    .video_area{
        float: right;
        width: 262px;
        height: 683px;
        margin-left: 16px;
        padding:0 0 0 38px;

        background: #faf9f7;
        .video_tab{
            overflow: hidden;
            margin-top: 42px;
            margin-right: 60px;
            .video_tab_btn{
                float: left;
                width: 50%;
                height: 48px;
                padding-top: 7px;
                padding-left: 14px;
                box-sizing: border-box;
                border:1px solid #b7b7b7;
                border-bottom: none;
                font-size: 15px;
                color: #b7b7b7;
                line-height: 18px;
                &.on{
                    position: relative;
                    border-color: $colorSkyblue;
                    font-weight: bold;
                    color: $colorSkyblue;
                }
                + .video_tab_btn{
                    margin-left: -1px;
                }
            }
        }
        .scroll{
            overflow: hidden;
            overflow-y: auto;
            height: 516px;
            margin-top: 26px;
        }
        .video_list{
            width: 202px;
            li + li{
                margin-top: 36px;
            }
            a{
                display: block;
            }
            .thumb{
                position: relative;
            }
            .title{
                @include ells;
                margin-top: 15px;
                font-size: 14px;
                line-height: 16px;
                color: #666;
            }
            .time{
                display: block;
                font-size: 12px;
                line-height: 15px;
                color: #989898;
            }
        }
    }
    .section_cont{
        padding-top: 70px;
        .select_area{
            text-align: right;
            padding-bottom: 30px;
        }
    }
}

// 3.클라우드 > 라이브러리
.section_library{
   .library_list{
        overflow: hidden;
       li{
           position: relative;
           float: left;
           width: 25%;
           margin-bottom: 70px;
           text-align: center;
       }
       a{
           display: inline-block;
           width: 230px;
           margin: 0 auto;
           &:hover .title{
               color: $colorRed;
           }
       }
       .thumb_area{
           width: 230px;
           height: 270px;
           padding: 47px 0 0 0;
           margin-bottom: 30px;
           text-align: center;
           background: #f2f2f2;
           .thumb_wrap{
               display: inline-block;
               position: relative;
               &:after{
                   content:'';
                   position: absolute;
                   width: 100%;
                   height: 100%;
                   left: 6px;
                   top: 9px;
                   background: #fff;
               }
           }
           img{
               z-index: 5;
               position: relative;
               vertical-align: top;
           }
       }
       .title{
           @include ells;
           font-size: 16px;
           line-height: 20px;
           color: #333;
       }
       .date{
           font-size: 14px;
           color: #989898;
       }
       .dsc_area{
           overflow: hidden;
           text-align: left;
           .ico_area{
               float: right;
               margin-left: 15px;
               padding-top: 5px;
           }
       }
   }
   .paginate{
       margin-top: 0
   }
   .top_area{
       position: relative;
       padding-bottom: 40px;
       .select_area{
           position: absolute;
           top: -15px;
           right:0;
       }
   }
}

// 4.타운 > FAQ
.section_faq{
    .faq_list{
        border-top: 1px solid #000;
        .item_q{
            position: relative;
            overflow: hidden;
            display: block;
            padding: 50px 75px 47px 124px;
            border-bottom: 1px solid #e8e8e8;
            font-size: 18px;
            color: #333;
            &:before{
                @include get-icon-sprite(ico_town_q, $sp_hepa);
                position: absolute;
                top: 50px;
                left: 60px;
            }
            &:after{
                content: '';
                position: absolute;
                top: 50px;
                right: 20px;
                width: 10px;
                height: 10px;
                border: 2px solid #ccc;
                border-width: 2px 2px 0 0;
                transform: rotate(-45deg) scale(-1);
            }
            .cate{
                float: left;
                position: relative;
                width: 102px;
                font-weight: normal;
                &:after{
                    content: '';
                    position: absolute;
                    top: 4px;
                    right:0;
                    width: 0;
                    height: 16px;
                    border-left: 1px solid #e8e8e8;
                    vertical-align: top;
                }

            }
            .title{
                overflow: hidden;

                padding: 0 0 0 30px;
            }

        }
        .item_a{
            display: none;
            padding: 50px 100px 50px 124px;
            background: #faf9f7;
            p{
                font-size: 16px;
                line-height: 30px;
                color: #707070;
                + p{
                    margin-top: 32px;
                }
                .txt_link{
                    text-decoration: underline;
                    color: #1e78e8;
                }
            }
        }
        .open{
            .item_q{
                &:before{
                    @include get-icon-sprite(ico_town_q_on, $sp_hepa);
                }
                &:after{
                    top: 55px;
                    border-color: $colorRed;
                    border-width: 2px 2px 0 0;
                    transform: rotate(-45deg) scale(1);
                }
            }
            .item_a{
                display: block;
            }
        }
    }
}

// 4.타운 > 링크모음
.section_usefullink{
    .usefullink_list{
        overflow: hidden;
        li{
            float: left;
            width: 25%;
            height: 414px;
            text-align: center;
        }
        .bx_area{
            display: inline-block;
            width: 240px;
            vertical-align: top;
        }
        .logo_area{
            display: table-cell;
            width: 240px;
            height: 260px;
            text-align: center;
            vertical-align: middle;
            background: #f8f8f8;
        }
        .title{
            display: block;
            margin: 19px 0 12px 0;
            font-size: 18px;
            color: #333;
        }
        .btn_border{
            padding: 0 24px;
            &:after{
                @include get-icon-sprite(ico_town_arr2, $sp_hepa);
                margin: -2px 0 2px 7px;
            }
        }
    }
}

// 5.contact
.section_contact{
    text-align: center;
    .tit{
        display: block;
        margin: 30px 0;
        font-size: 40px;
        line-height: 50px;
        color: $colorRed;
        font-weight: normal;
        letter-spacing: -1px;
    }
    .info_area{
        position: relative;
        margin: 0 auto 81px;
        width: 720px;
        padding:  50px 0;
        border: 1px solid #eaeaea;
        border-top: 0;
        font-size: 16px;
        &:before{
            position: absolute;
            top:0;
            left:-1px;
            right:-1px;
            content: '';
            border-top: 3px solid $colorRed;
            height: 0;
        }
        &:after{
            content: '';
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            width: 720px;
            height: 72px;
            margin-top: 1px;
            background: url(../img/bg_contact_bottom.png) no-repeat 0 0;
        }

        ul{
            display: inline-block;
        }
        li{
            overflow: hidden;
            text-align: left;
            line-height: 38px;
        }
        strong{
            position: relative;
            display: inline-block;
            width: 143px;
            font-weight: normal;
            vertical-align: top;
            &:after{
                content: '';
                position: absolute;
                right:0;
                top: 13px;
                width: 0;
                height: 12px;
                border-right: 1px solid #dbdbdb;
            }
        }
        p{
            display: inline-block;
            padding-left: 39px;
            vertical-align: top;
            a{
                color: $colorSkyblue;
                text-decoration: underline;
            }
        }
    }
    .btn_link{
        display: inline-block;
        width: 232px;
        border-radius: 3px;
        color: #fff;
        line-height: 54px;
        background: $colorRed;
        vertical-align: top;
    }
}

// 5.contact > 방문요청
.section_request{
    text-align: center;
    .txt_request{
        font-size: 20px;
        color: #333;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }
    .request_area{
        margin-top: 35px;
        margin-bottom: 80px;
        .visual_obj{
            position: absolute;
            top: -68px;
            right: 100px;
        }
    }
}

//
.section_mypage{
    .txt_mypage{
        padding-bottom: 30px;
        font-size: 20px;
        color: #333;
        strong{
            font-size: 16px;
            color: #2377c2;
            text-decoration: underline;
        }
        em{
            color: #2377c2;
        }
    }
    .list_mypage{
        padding-bottom: 25px;
        li{
            position: relative;
            padding-left: 10px;
            line-height: 26px;
            font-size: 16px;
            color: #333;
            &:before{
                content:'';
                position: absolute;
                top: 8px;
                left:0;
                width:2px;
                height:10px;
                background: $colorRed;
            }
        }
        strong{
            text-decoration: underline;
            color: $colorRed;
        }
    }
    .btn_area{
        text-align: center;
    }
    // 방문이력 리스트
    .list_visited{
        .item_visited{
            > a{
                display: block;
                position: relative;
                height: 78px;
                border-bottom: 1px solid #666;
                line-height: 78px;
                &:after{
                    @include get-icon-sprite(ico_toggle, $sp_hepa);
                    content: '';
                    position: absolute;
                    top: 32px;
                    right: 0;
                }
            }
            .date{
                font-size: 21px;
                color: #333;
            }
        }
        .list_url{
            li{
                +li{
                    border-top: 1px dashed #e1e1e1;
                }
                &:before{
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    margin: 0 13px 0 0;
                    border-radius: 50%;
                    background: #333;
                    vertical-align: middle;
                }
                overflow: hidden;
                padding: 0 0 0 40px;
                line-height: 68px;
                font-size: 16px;
                color: #333;
                white-space: nowrap;
            }
            .item_time{
                display: inline-block;
                vertical-align: top;
            }
            .item_path{
                display: inline-block;
                vertical-align: top;
            }
            .item_url{
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}

.section_search{
    .txt_search{
        padding: 0 0 20px 0;
        font-size: 20px;
        color: #333;
        strong{
            font-size: 24px;
            color: $colorRed;
        }
    }
    .search_list{
        ul{
            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
            margin-bottom: -20px;
        }
        li{
            position: relative;
            padding: 24px 35px;
            + li{
                border-top: 1px solid #e8e8e8;
            }
        }
        .item_link{
            font-size: 18px;
            font-weight: bold;
            color: #2a7eca;
        }
        .item_text{
            font-size: 16px;
            line-height: 24px;
            color: #707070;
        }
        .item_path{
            position: absolute;
            top: 15px;
            right: 35px;
            font-size: 14px;
            color: #2a7eca;
        }
    }
}
