// 홈

#wrap.home{
    .content{

    }
    .section_spot{

        .wrap_cont{
            position: relative;
            max-width: $contentWidth;
            margin: 0 auto;
        }
        .title_area{
            position: absolute;
            top: 75px;
            left: 60px;
            h3{
                font-size: 36px;
                font-weight: bold;
                color: #fff;
            }
            .sub_title{
                margin-top: 33px;
                font-size: 20px;
                color: #fff;
            }
        }
        .video_area{
            height: 870px;
        }
    }
    .section_home{
        &.colored{
            background: gray;
        }
        .wrap_cont{ 
            max-width: $contentWidth;
            margin: 0 auto;
            padding: 80px 0;
            box-sizing: border-box;
        }
        h3{
            margin: 0 auto;
            font-size: 36px;
            font-weight: bold;
            color: #000;
            text-align: center;
        }
    }

    .list_mid{
        overflow: hidden;
        .mid_item{
            float: left;
            width: 33.3%;
            
            box-sizing: border-box;
        }
        .board_head{
            overflow: hidden;
            .title{
                float: left;
            }
            .date{
                float: right;
            }
        }
        .board_desc{

        }
    }
    #grid *{
        box-sizing: border-box;
    }
}
