// 홈
@import url('https://fonts.googleapis.com/css?family=Lato:700|Open+Sans&display=swap');
#wrap.home{
    .content{

    }
    .section_spot{

        .wrap_cont{
            position: relative;
            max-width: $contentWidth;
            margin: 0 auto;
        }
        .title_area{
            position: absolute;
            top: 75px;
            left: 60px;
            h3{
                font-size: 36px;
                font-weight: bold;
                color: #fff;
            }
            .sub_title{
                margin-top: 33px;
                font-size: 20px;
                color: #fff;
            }
        }
        .video_area{
            height: 870px;
        }
    }
    .section_home{
        &.colored{
            background: gray;
        }
        .wrap_cont{
            max-width: $contentWidth;
            margin: 0 auto;
            padding: 80px 0;
            box-sizing: border-box;
        }
        h3{
            margin: 0 auto;
            font-size: 36px;
            font-weight: bold;
            color: #202f5b;
            text-align: center;
        }
    }

    .list_mid{
        overflow: hidden;
        &.active{
            .fade-in-fwd{
                -webkit-animation: fade-in-fwd 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                        animation: fade-in-fwd 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            }
            .menu_name1{
                -webkit-animation: fade-in-fwd2 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                        animation: fade-in-fwd2 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            }
            .menu_name1_kr{
                -webkit-animation: fade-in-fwd2 0.1s 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                        animation: fade-in-fwd2 0.1s 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            }
        }
        .mid_item{
            float: left;
            width: 33.3%;

            box-sizing: border-box;
        }
        .thumb{
            position: relative;
        }
        @-webkit-keyframes fade-in-fwd {
            0% {
              -webkit-transform: translateY(-50px);
                      transform: translateY(-50px);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
              opacity: 1;
            }
          }
          @keyframes fade-in-fwd {
            0% {
              -webkit-transform: translateY(-50px);
                      transform: translateY(-50px);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
              opacity: 1;
            }
          }
          @-webkit-keyframes fade-in-fwd2 {
              0% {
                -webkit-transform: translateY(50px);
                        transform: translateY(50px);
                opacity: 0;
              }
              100% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                opacity: 1;
              }
            }
            @keyframes fade-in-fwd2 {
              0% {
                -webkit-transform: translateY(50px);
                        transform: translateY(50px);
                opacity: 0;
              }
              100% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                opacity: 1;
              }
            }

        .menu_name1{
            @include get-icon-sprite(ico_txt1_1, $sp_hepa);
            position: absolute;
            left: 270px;
            top: 168px;
            &.active{

            }
        }
        .menu_name1_kr{
            @include get-icon-sprite(ico_txt1_2, $sp_hepa);
            position: absolute;
            left: 270px;
            top: 270px;
        }
        .menu_name2{
            @include get-icon-sprite(ico_txt2_1, $sp_hepa);
            position: absolute;
            left: 270px;
            top: 168px;
        }
        .menu_name2_kr{
            @include get-icon-sprite(ico_txt2_2, $sp_hepa);
            position: absolute;
            left: 270px;
            top: 270px;
        }
        .board_head{
            overflow: hidden;
            font-family: 'Open Sans', sans-serif;
            .tit{
                float: left;
                font-size: 27px;
                color: #222;
                font-weight: bold;
            }
            .date{
                float: right;
                font-size: 15px;
                color: #474747;
            }
        }
        .board_desc{
            font-size: 15px;
            color: #474747;
        }
    }
    #grid *{
        box-sizing: border-box;
    }
    .tile{
        position: relative;
        .cont{
            display: none;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            &:before{
                content: '';
                position: absolute;
                top: 15px;
                right: 15px;
                bottom: 15px;
                left: 15px;
                border: 10px solid #fff;
            }
        }
    }
    .tile:hover{
        .cont{
            display: flex;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            padding: 0 60px;
            background: rgba(58,70,106,.8);
            align-items: center;
            justify-content: center;
        }
        &::before{

        }
    }
    .section_more{
        text-align: center;
        padding-bottom: 100px;
    }
    .more_button{
        display: inline-block;
        vertical-align: top;
    }
    .icon_more{
        @include get-icon-sprite(ico_more, $sp_hepa);
    }
}
