// 홈

#wrap.home{
    .content{

    }
    .section_spot{

        .wrap_cont{
            position: relative;
            max-width: $contentWidth;
            margin: 0 auto;
        }
        .title_area{
            position: absolute;
            top: 75px;
            left: 60px;
            h3{
                font-size: 36px;
                font-weight: bold;
                color: #fff;
            }
            .sub_title{
                margin-top: 33px;
                font-size: 20px;
                color: #fff;
            }
        }
        .video_area{
            height: 870px;
        }
    }
    .section_home{
        .wrap_cont{ 
            max-width: $contentWidth;
            margin: 0 auto;
            padding: 80px 0;
            box-sizing: border-box;
            background: green;
        }
        h3{
            margin: 0 auto;
            font-size: 36px;
            font-weight: bold;
            color: #000;
            text-align: center;
        }
    }
    //
    .list_cloud{
        display: table;
        table-layout: fixed;
        overflow: hidden;
        width: 100%;
        margin-top: 50px;
        li{
            display: table-cell;
            vertical-align: top;
        }
        a{
            display: flex;
            flex-direction: column;
            margin: 0 17px;
            background: #f5f5f5;
        }
        .thmb{
            overflow: hidden;
            position: relative;
            padding-top: 100%;
            .img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 125%;
                background-size: cover;
                background-position: no-repeat;
                background-position: 0 50%;
            }
        }
        p{
            display: flex;
            height: 140px;
            padding: 0 15px;
            font-size: 20px;
            line-height: 30px;
            align-self: center;
            align-items: center; 
        }
    }

    .list_mid{
        overflow: hidden;
        .mid_item{
            float: left;
            width: 33.3%;
            
            box-sizing: border-box;
        }
        .board_head{
            overflow: hidden;
            .title{
                float: left;
            }
            .date{
                float: right;
            }
        }
        .board_desc{

        }
    }
    #grid *{
        box-sizing: border-box;
    }
}
