/* 레이어 */

//layer
.common_layer{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba(0,0,0,0.3);
    .wrap{
        overflow: hidden;
        overflow-y: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
    }
    .group{
        display: inline-block;
        max-width: 900px;
        margin: 120px 0;
    }
    .layer_content{
        position: relative;
        padding: 30px 48px 42px;
        background: #fff;
        text-align: left;
    }
    .title{
        position: relative;
        padding: 0 0 18px;
        font-size: 24px;
        color: #000;
        border-bottom: 2px solid #000;
        strong{
            font-weight: normal;
        }
    }
    .btn_close{
        @include get-icon-sprite(btn_close, $sp_hepa);
        position: absolute;
        top: 5px;
        right: 0;
    }
    .btn_area{
        padding-top: 55px;
        text-align: center;
    }
    .btn_submit{
        display: inline-block;
        min-width: 200px;
        height: 50px;
        border-radius: 25px;
        background: #2377c2;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
    }
    .term_layer{
        box-sizing: border-box;
        max-width: 900px;
        .scroll_area{
            overflow: hidden;
            overflow-y: auto;
            max-height: 640px;
            padding-right: 25px;
            margin: 40px 0 0 0;
            font-size: 13px;
            line-height: 24px;
            .heading{
                display: block;
                color: #333;
                font-size: 15px;
                font-weight: bold;
            }
            .paragraph{
                margin-bottom: 20px;
            }
            .indent{
                padding-left: 10px;
            }
            .emphasis{
                text-decoration: underline;
                color: #2377c2;
            }
        }
    }
}
@media all and (max-width: $mobileWidth){
.common_layer{
    .group{
        width: 100%;
        margin-top: 0;
    }
}
}


// 병원검색 팝업
.hospital_layer{
    width: 700px;
    .search_hospital{
        padding: 25px 30px 0;
        .search_txt{
            padding-bottom: 10px;
            font-size: 16px;
            color: #333;
        }
        .search_form{
            display: flex;
            height: 50px;
            font-size: 14px;
            .cm_select{
                width: 0;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: auto;
                line-height: 48px;
                + .cm_select{
                    margin-left: -1px;
                }

                .styledSelect{
                    color: #aaa;
                }
            }
            input.text{
                width: 0;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: auto;
                height: 100%;
                margin-left: -1px;
                &::-webkit-input-placeholder{
                    color: #aaa;
                }
            }
            .btn_search{
                width: 0;
                flex-basis: 66px;
                margin-left: 10px;
                border:2px solid #2377c2;
                text-align: center;
                line-height: 46px;
                white-space: nowrap;
                color: #2377c2;
            }
        }
    }
    .result_hospital{
        padding: 25px 30px 0;
        .result_txt{
            font-size: 18px;
            color: #666;
            strong{
                color: #333;
            }
        }
        .cm_select{
            width: 100%;
            margin-top: 15px;
            box-sizing: border-box;
            font-size: 14px;
            .styledSelect{
                color: #aaa;
            }
        }
        .result_area{
            margin-top: 20px;
            background: #f8f8f8;
        }
    }
    .btn_area{
        padding-top: 30px;
    }
}
// 병원검색 팝업(모바일)
@media all and (max-width: $mobileWidth){
.hospital_layer{
    .search_hospital,
    .result_hospital{
        padding-left: 0;
        padding-right: 0;
    }
}
}
