// 로그인페이지

.login{
    position: relative;
    min-height: 100%;
    padding-top: 210px;
    padding-bottom: 120px;
    box-sizing: border-box;
    .content{
        overflow: hidden;
        width: 920px;
        margin: 0 auto;
        border-radius: 10px;
        background: #fff;

        .fl{
            float: left;
            width: 315px;
            height: 550px;
            padding: 0 0 0 74px;
            border-right: 1px dashed #bababa;
            background: #f6f6f6;
            .tit{
                font-family: Titillium Web,sans-serif;
                font-size: 48px;
                line-height: 60px;
                color: #1876d0;
            }
            .welcome_txt{
                font-size: 16px;
                line-height: 24px;
                color: #333;
                text-align: left;
            }
            .welcome_list{
                margin-top: 30px;
                li{
                    position: relative;
                    padding-left: 16px;
                    font-size: 13px;
                    line-height: 24px;
                    color: #333;
                }
                li:before{
                    content: '';
                    position: absolute;
                    top: 10px;
                    left:0;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: #a7a7a7;
                }
            }
        }
        .fr{
            float: left;
            width: 530px;

        }
        .img_doctor{
            padding: 75px 0 65px;
            text-align: center;
            .ico_login_tit{
                @include get-icon-sprite(ico_login_tit, $sp_hepa);
            }
        }
        .section_form{
            width: 370px;
            margin: 0 auto;
            .wrap_input{
                height: 50px;
                margin-bottom: 15px;
                border-radius: 25px;
                background: lightgray;
                input{
                    width: 100%;
                    padding: 0;
                    background: transparent;
                }
            }
            .btn_submit{
                display: block;
                height: 50px;
                border-radius: 25px;
                text-align: center;
                line-height: 50px;
                color: #fff;
                font-weight: bold;
                font-size: 20px;
                background: $colorBlue;
            }
        }
        .section_id{
            overflow: hidden;
            width: 370px;
            margin: 0 auto;
            .btn_join{
                float: left;
                font-size: 16px;
                font-weight: bold;
                text-decoration: underline;
                color: $colorBlue;
            }
            .btn_remember{
                float: right;
            }
        }


    }
    .login_txt{
        margin-top: 35px;
        font-size: 13px;
        color: rgba(255,255,255,.4);
        line-height: 20px;
        text-align: center;
    }
    .login_footer{
        position: absolute;
        left:50%;
        bottom:0;
        width: 920px;
        height: 80px;
        margin-left: -460px;
        text-align: left;
        font-size: 13px;
        line-height: 16px;
        color: rgba(255,255,255,.4);
        strong{
            font-size: 18px;
        }
        p{
            margin-top: 6px;
        }
    }
}
