@media all and (max-width:1300px){
    #header{
        .logo{
            margin-left: 30px;
        }
        .lnb .lnb_menu .item_menu_wrap .item_menu{
            font-size: 18px;
        }
    }
    .snb{
        .item_menu_wrap .item_menu_link{
            padding:0 15px;
        }
    }
    .gnb,.lnb .lnb_menu{
        margin-right: 20px;
    }
}
@media all and (max-width:1024px){
    #header{
        .gnb .gnb_item{
            font-size: 22px;
        }
        .lnb .lnb_menu .item_menu_wrap .item_menu{
            font-size: 17px;
        }
    }
}
