@media all and (max-width:1300px){
    #header{
        .logo{
            margin-left: 30px;
        }
        .lnb .lnb_menu .item_menu_wrap .item_menu{
            font-size: 18px;
        }
    }
    .snb{
        .item_menu_wrap .item_menu_link{
            padding:0 15px;
        }
    }
    .gnb,.lnb .lnb_menu{
        margin-right: 20px;
    }
}
@media all and (max-width:1024px){
    #header{
        .gnb .gnb_item{
            font-size: 22px;
        }
        .lnb .lnb_menu .item_menu_wrap .item_menu{
            font-size: 17px;
        }
    }
}
//mobile
@media all and (max-width: $mobileWidth){
    .is_pc{display:none;}
    .is_mobile{display:block;}
    #wrap{
        min-width: inherit;
        padding-bottom: 170px;
    }
    #header .wrap_cont,
    .bg_content_shadow,
    .path_area{
        display: none;
    }
    .container{
        .content{
            width: auto;
            min-width: inherit;
            padding: 40px 18px;
        }
    }
    //COMMON UI
    .layer_email{
        width: 100%;

    }
    .dropdown{
        width: 100%;
    }
    .btn_area{
        [class^=btn_]{
            margin-bottom: 10px;
        }
    }
    #wrap.home{
        .section_home .wrap_cont{
            padding: 30px 18px;
        }
        .list_cloud{
            li{
                display: block;
            }
            li+li{
                margin-top: 20px;
            }
        }
        .cont_bridge{
            .bridge_img{
                float: none;
                width: 100%;
                margin: 0;
                padding-top: 40%;
            }
        }
        .cont_guide{
            .list_guide{
                float: none;
                width: 100%;
                li{
                    float: none;
                    width: 100%;
                    margin: 0 !important;
                }
            }
            .list_banner{
                text-align: center;
            }
        }
    }
    #footer{
        height: 170px;
        .wrap_cont{
            padding: 0 30px;
            .footer_logo{
                position: static;
                margin-top: 15px;
            }
        }
    }
    //LOGIN
    .login{
        overflow: hidden;
        padding:0 30px;
        .content{
            overflow: visible;
            position: relative;
            max-width: 400px;
            margin: 150px auto 0;
            border-radius: 20px;
            .fr{
                float: none;
                width: auto;
                padding: 30px 20px;
            }
            .fl{
                height: auto;
                padding: 0 0 30px;
                border: 0;
                border-top: 1px dashed #bababa;
                border-radius: 0 0 20px 20px;
                text-align: center;
                .tit{
                    margin-top: 20px;
                    font-size: 28px;
                }
                .welcome_txt{
                    display: none;
                }
                .welcome_list{
                    margin: 0;
                    li{
                        font-size: 14px;
                        &:before{
                            display: none;
                        }
                    }
                }
            }
            .img_doctor{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                margin: -110px auto 0;
                padding: 0;
                transform: scale(0.7);
            }
            .section_id{
                padding: 0 18px;
            }
        }
        .login_txt{
            color: rgba(255,255,255,0.8);
            font-size: 13px;
            br{
                display: none;
            }
        }
        .login_footer{
            position: static;
            margin-top: 80px;
            color: rgba(255,255,255,0.5);
            text-align: center;
            strong{
                color: rgba(255,255,255,0.8);
            }
        }
    }
    //BRIDGE
    .section_pi{
        .pi_txt{
            padding: 30px 18px;
        }
        .btn_area{
            .fl{
                float: none;
            }
            .fr{
                float: none;
            }
        }
    }
    //VIDEO
    .section_video{
        margin: 0;
        .video_area{
            float: none;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            .scroll{
                overflow: hidden;
                overflow-x: auto;
                height: auto;
            }
            .video_list{
                width: auto;
                white-space: nowrap;
                font-size: 0;
                line-height: 0;
                li{
                    display: inline-block;
                    width: 202px;
                    vertical-align: top;
                }
                li+li{
                    margin: 0 0 0 20px;
                }
            }
        }
    }
    //CLOUD
    .section_library{
        .library_list{
            li{
                width: 50%;
                margin-bottom: 30px;
                box-sizing: border-box;
                padding: 0 5px;
                a{
                    display: block;
                    width: auto;
                }
            }
            .title{
                font-size: 14px;
            }
            .date{
                font-size: 13px;
            }
            .thumb_area{
                margin-bottom: 0;
                background: none;
                .thumb_wrap{
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    &:after{
                        display: none;
                    }
                }
            }
        }
        .top_area{
            .select_area{
                position: static;
                margin-top: 10px;
            }
        }
    }
}
