#header_m{
    .menu_wrap{
        position: relative;
        height: 60px;
        background-color: #fff;
        .logo{
            position: absolute;
            top: 12px;
            left: 50%;
            transform: translateX(-50%);
            .ico_logo{
                @include get-icon-sprite(ico_home_logo_dark, $sp_hepa);
                vertical-align: top;
            }
        }
        .menu{
            position: absolute;
            top: 5px;
            left: 5px;
            width: 50px;
            height: 50px;
            padding: 15px 12px;
            box-sizing: border-box;
            >div{
                position: relative;
                span{
                    overflow: hidden;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    color: transparent;
                    background-color: #141414;
                }
                span.t{
                    top: 0;
                }
                span.m{
                    top: 8px;
                }
                span.m2{
                    top: 8px;
                }
                span.b{
                    top: 16px;
                }
            }
        }
    }
    .layer_menu{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        width: 100%;
        height: 100%;
        padding-right: 60px;
        box-sizing: border-box;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
        .slide_menu{
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }
        .member_wrap{
            padding: 25px 20px;
            font-size: 16px;
            color: #fff;
            background-image:(linear-gradient(left, rgba(17,80,153,1) 0%, rgba(19,65,115,1) 100%));
            .info_area{
                margin-bottom: 15px;
            }
            .btn_area{
                display: table;
                table-layout: fixed;
                width: 100%;
                text-align: center;
                .inner{
                    display: table-cell;
                    vertical-align: top;
                }
                .inner+.inner .item{
                    border-left: 0;
                }
                .item{
                    display: block;
                    border: 1px solid rgba(255,255,255,0.4);
                    line-height: 34px;
                    color: rgba(255,255,255,0.4);
                }
            }
            .setting_area{
                display: table;
                table-layout: fixed;
                width: 100%;
                margin-top: 20px;
                text-align: center;
                .inner{
                    display: table-cell;
                    vertical-align: top;
                }
                .item{
                    display: block;
                    width: 60px;
                    margin: 0 auto;
                }
            }
        }
        .list_menu{
            background-color: #333;
            .menu{
                border-bottom: 1px solid #484848;
                .m{
                    display: block;
                    position: relative;
                    padding: 0 18px;
                    line-height: 55px;
                    color: #fff;
                    font-weight: bold;
                    &:after{
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 25px;
                        width: 10px;
                        height: 10px;
                        margin-top: -10px;
                        border: 2px solid #fff;
                        border-width: 2px 2px 0 0;
                        transform: scale(-1) rotate(-45deg);
                    }
                }
                .m.open{
                    &:after{
                        margin-top: -4px;
                        transform: scale(1) rotate(-45deg);
                    }
                }
            }
            .sub_menu{
                display: none;
                padding: 10px 0 12px;
                background-color: #fff;
                .m2{
                    display: block;
                    padding-left:18px;
                    line-height: 50px;
                }
            }
            .sub_menu_inner{
                margin: 0 18px;
                padding-bottom: 10px;
                border-top: 1px solid #999;
                .m2{
                    margin: 0;
                    padding-left: 18px;
                    border: 0;
                    color: #666;
                }
            }
        }
        .btn_close{
            position: absolute;
            top: 5px;
            right: 5px;
            width: 50px;
            height: 50px;
            padding: 15px 12px;
            box-sizing: border-box;
            div{
                position: relative;
                font-size: 0;
                color: transparent;
                &:before,&:after{
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: #fff;
                    transform: rotate(45deg);
                }
                &:after{
                    transform: rotate(135deg);
                }
            }
        }
    }
    &.expanded{
        .layer_menu{
            transform: translateX(0);
        }
    }
}
