.swiper-container{
    overflow: hidden;
    position:relative;
    height:900px;
    .swiper-wrapper{
        .slide{
            overflow: hidden;
        }
        .bg_img {
        	position:absolute;
        	top:0;
        	left:0;
        	width:100%;
        	height:100%;
        	background-repeat:no-repeat;
        	background-size:cover;
        	background-position:50% 50%;
        	background-color:#f5f6f7;
            video{
                position: absolute;
                top: 0;
                left: 50%;
                width: auto;
                height: 100%;
                transform: translateX(-50%);
            }
        }
    }
    .btn_area{
        display: table;
        position:relative;
        bottom:65px;
        z-index:10;
        margin:0 auto;
        text-align:center;
        .btn_dot{
            width:25px;
            height:25px;
            border:0;
            font-size:0;
            vertical-align:top;
            background:none;
            &.on{
                span{
                    width:12px;
                    height:12px;
                    background-color:#fff;
                }
            }
            span{
                display:
                inline-block;
                width:8px;
                height:8px;
                border: 1px solid rgba(0,0,0,0.2);
                border-radius:50%;
                background-color:rgba(255,255,255,0.5);
            }
        }
        button+button{
            margin-left: 14px;
        }
    }
    .ico_btn{
        @include get-icon-sprite(ico_arr, $sp_bene);
        margin: 100px 50px;
    }
    .btn_next,.btn_prev{
        position: absolute;
        top: 50%;
        margin-top: -140px;
        z-index: 2000;
    }
    .btn_next{
        right: 0;
    }
    .btn_prev{
        left: 0;
        .ico_btn{
            transform: scaleX(-1);
        }
    }
    .swiper-pagination-bullet{
        width: 18px;
        height: 18px;
        background-color: #fff;
        opacity: 0.5;
    }
    .swiper-pagination-bullet-active{
        opacity: 1;
    }
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 60px;
}
