body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
}

body, input, textarea, select, table, button, code {
	font-family: -apple-system,BlinkMacSystemFont,helvetica,Apple SD Gothic Neo,sans-serif;
	font-size: 1.6rem;
	line-height: 2rem;
}

html {
	height: 100%;
}

body {
	height: 100%;
	-webkit-text-size-adjust: none;
}

textarea {
	border: 1px solid #bcbcbc;
}

img, fieldset {
	border: 0;
}

img {
	vertical-align: middle;
}

ul, ol {
	list-style: none;
}

em, address, cite, i {
	font-style: normal;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-touch-callout: none;
}

button {
	border: 0;
	background: none;
}

table {
	border-collapse: collapse;
}

.blind {
	overflow: hidden !important;
	position: absolute !important;
	clip: rect(0 0 0 0) !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
}

mark {
	color: inherit;
	font-weight: normal;
	background: none;
}

.elss {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.login .logo {
	width: 100px;
	border: 1px solid red;
	margin: 0 auto;
}

.login .content {
	overflow: hidden;
	width: 710px;
	margin: 0 auto;
	border: 1px solid red;
}

.login .content .fl {
	float: left;
	width: 300px;
	background: gray;
}

.login .content .fr {
	float: left;
	width: 400px;
	border: 1px solid lime;
}

.login .content .img_doctor {
	width: 50px;
	margin: 0 auto;
	border: 1px solid gold;
}

.login .content .section_form {
	width: 200px;
	margin: 0 auto;
}

.login .content .section_form .wrap_input {
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	background: lightgray;
}

.login .content .section_form .wrap_input input {
	background: transparent;
}

.login .content .section_form .btn_submit {
	display: block;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	background: #cb2e3c;
}

.login .content .section_id {
	overflow: hidden;
	width: 200px;
	margin: 0 auto;
}

.login .content .section_id .btn_join {
	float: left;
}

.login .content .section_id .btn_remember {
	float: right;
}

.login .login_txt {
	text-align: center;
}

#home .section_spot .wrap_cont {
	width: 1600px;
	margin: 0 auto;
	padding: 80px 0;
}

#home .section_spot h3 {
	font-size: 36px;
	font-weight: bold;
	color: #fff;
}

#home .section_spot .sub_title {
	margin-top: 33px;
	font-size: 20px;
	color: #fff;
}

#home .section_home {
	border: 1px solid red;
}

#home .section_home.type_colored {
	background: #f5f5f5;
}

#home .section_home .wrap_cont {
	width: 1600px;
	margin: 0 auto;
	padding: 80px 0;
}

#home .section_home h3 {
	font-size: 36px;
	font-weight: bold;
	color: #000;
}

#home .list_cloud {
	overflow: hidden;
	margin-top: 50px;
}

#home .list_cloud li {
	float: left;
	margin-left: 34px;
	width: 374px;
	background: #f5f5f5;
}

#home .list_cloud li:first-child {
	margin-left: 0;
}

#home .list_cloud a {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	        flex-direction: column;
}

#home .list_cloud img {
	display: block;
	width: 374px;
	height: 470px;
}

#home .list_cloud p {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 140px;
	font-size: 20px;
	line-height: 30px;
	-webkit-align-self: center;
	        align-self: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	        align-items: center;
}

#home .cont_bridge {
	position: relative;
	overflow: hidden;
	margin-top: 35px;
}

#home .cont_bridge .bridge_img {
	float: right;
	width: 1000px;
	height: 610px;
	margin-left: 35px;
}

#home .cont_bridge .bridge_txt {
	font-size: 20px;
	line-height: 36px;
	color: #000;
}

#home .cont_bridge .more_link {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 20px;
	color: #134071;
	text-decoration: underline;
}

#home .cont_guide {
	overflow: hidden;
}

#home .cont_guide .list_banner {
	float: right;
	width: 540px;
}

#home .cont_guide .list_banner .item_banner {
	display: block;
	margin-top: 30px;
}

#home .cont_guide .list_banner .item_banner:first-child {
	margin-top: 0;
}

#home .cont_guide .list_banner .item_banner img {
	width: 540px;
	height: 180px;
}

#footer {
	overflow: hidden;
	height: 105px;
	background-color: #444;
}

#footer .wrap_cont {
	position: relative;
	width: 1600px;
	margin: 0 auto;
}

#footer .footer_items {
	overflow: hidden;
	margin-top: 34px;
}

#footer .footer_items a {
	float: left;
	font-size: 13px;
	line-height: 15px;
	color: #fff;
}

#footer .footer_items a + a:before {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 0;
	height: 13px;
	margin: 1px 15px 0 16px;
	border-left: 1px solid #fff;
}

#footer .footer_copyright {
	font-size: 13px;
	color: #fff;
}

#footer .footer_logo {
	position: absolute;
	top: 0;
	right: 0;
}

.board .list {
	overflow: hidden;
}

.board .listItem {
	float: left;
	width: 150px;
	border: 1px solid red;
}

.board .listItem .listItemLink {
	display: block;
}

.board .listItem .listItemLink:hover .title {
	color: red;
}

.board .listItem .wrap_thumb {
	text-align: center;
	background: gray;
}

.board .listItem .wrap_meta {
	overflow: hidden;
}

.board .listItem .title {
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.board .listItem .iconfile {
	float: right;
}

.board .paginate {
	text-align: center;
}

.board .paginate .paginate_number {
	display: inline-block;
	vertical-align: top;
}

.board .paginate .paginate_number .active {
	color: #cb2e3c;
	text-decoration: underline;
}

.sptest {
	display: inline-block;
	overflow: hidden;
	color: transparent;
	background: url("../img/sprite/sp_test.png") 0 0 no-repeat;
	-webkit-background-size: 60px 74px;
	background-size: 60px 74px;
	vertical-align: 0;
	white-space: nowrap;
}

.ico_close {
	width: 40px;
	height: 40px;
	background-position: 0px -34px;
}

.ico_beta {
	width: 60px;
	height: 30px;
	background-position: 0px 0px;
}

/*# sourceMappingURL=hepahealth.css.map */
