body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
}

body, input, textarea, select, table, button, code {
	font-family: 'Spoqa Han Sans',-apple-system,BlinkMacSystemFont,helvetica,Apple SD Gothic Neo,sans-serif;
	line-height: 1.6em;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;
}

textarea {
	border: 1px solid #bcbcbc;
}

img, fieldset {
	border: 0;
}

img {
	vertical-align: middle;
}

ul, ol {
	list-style: none;
}

em, address, cite, i {
	font-style: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: 0;
	background: none;
}

table {
	border-collapse: collapse;
}

.blind {
	overflow: hidden !important;
	position: absolute !important;
	clip: rect(0 0 0 0) !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
}

.spim,
.spim_bf:before,
.spim_af:after {
	display: inline-block;
	overflow: hidden;
	color: transparent;
	background: url("../img/sprite/sp_hepa.png") 0 0 no-repeat;
	-webkit-background-size: 322px 189px;
	background-size: 322px 189px;
	vertical-align: middle;
	white-space: nowrap;
}

.spim_bf:before,
.spim_af:after {
	content: '';
}

#wrap {
	position: relative;
	min-width: 1720px;
	width: 100%;
	min-height: 100%;
	padding-bottom: 100px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

#header {
	z-index: 100;
	position: fixed;
	z-index: 1000;
	width: 100%;
	border-bottom: 1px solid rgba(68, 68, 68, 0.5);
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#header:after {
	content: '';
	display: block;
	clear: both;
}

#header.expanded {
	overflow: hidden;
	overflow-x: auto;
	background-color: #fff !important;
}

#header.active .logo .ico_logo {
	width: 168px;
	height: 36px;
	background-position: 0px -131px;
}

#header.active .gnb .gnb_item {
	color: #000;
}

#header.active .header_search {
	color: #000;
}

#header.active .header_search .item_search .input_label_sch {
	border-color: rgba(0, 0, 0, 0.5);
	color: #000;
}

#header.active .header_search .item_setting .ico_setting {
	width: 17px;
	height: 17px;
	background-position: -200px -132px;
}

#header.active .snb {
	border-top: 1px solid #ebebeb;
}

#header .logo {
	float: left;
	margin-left: 60px;
	padding: 30px 0;
}

#header .logo .ico_logo {
	width: 168px;
	height: 36px;
	background-position: 0px -91px;
}

#header .fr {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	vertical-align: bottom;
}

#header .wrap_cont {
	z-index: 20;
	position: relative;
	width: 1720px;
	height: 100px;
	margin: 0 auto;
}

#header .gnb {
	display: inline-block;
	overflow: hidden;
	margin-top: 40px;
	font-family: Titillium Web,sans-serif;
}

#header .gnb .gnb_item {
	float: left;
	width: 252px;
	font-size: 24px;
	line-height: 60px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

#header .gnb .gnb_item:hover {
	color: #1764ae;
}

#header .header_search {
	position: absolute;
	top: 13px;
	right: 60px;
	line-height: 23px;
	color: rgba(255, 255, 255, 0.5);
}

#header .header_search .item_search {
	display: inline-block;
	vertical-align: top;
}

#header .header_search .item_search .label_sch {
	margin-right: 5px;
	font-size: 13px;
	vertical-align: top;
}

#header .header_search .item_search .input_label_sch {
	width: 90px;
	margin-right: 15px;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	line-height: 15px;
	color: #fff;
	background: none;
	vertical-align: top;
}

#header .header_search .item_link {
	display: inline-block;
	margin-right: 15px;
	font-size: 12px;
	vertical-align: top;
}

#header .header_search .item_setting {
	display: inline-block;
	vertical-align: top;
}

#header .header_search .item_setting .ico_setting {
	width: 17px;
	height: 17px;
	background-position: -302px -105px;
	margin: -2px 0 2px;
}

#header .layer_setting {
	display: none;
	position: absolute;
	top: 38px;
	right: 32px;
	padding-top: 11px;
}

#header .layer_setting:before {
	width: 20px;
	height: 11px;
	background-position: -245px -132px;
	position: absolute;
	top: 0;
	right: 26px;
}

#header .layer_setting .wrap_setting {
	overflow: hidden;
	height: 70px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13), -1px -1px 1px rgba(0, 0, 0, 0.13);
	        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13), -1px -1px 1px rgba(0, 0, 0, 0.13);
	background: #fff;
}

#header .layer_setting .item_setting {
	position: relative;
	float: left;
	width: 65px;
	margin: 15px 0 0 0;
	-webkit-align-content: center;
	        align-content: center;
	color: #014592;
	font-size: 11px;
	text-align: center;
}

#header .layer_setting .item_setting + .item_setting:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 39px;
	border-left: 1px solid #efefef;
}

#header .layer_setting .item_setting [class^=spim] {
	display: block;
	margin: 0 auto;
}

#header .layer_setting .item_setting .ico_archive {
	width: 23px;
	height: 23px;
	background-position: -228px -105px;
}

#header .layer_setting .item_setting .ico_library {
	width: 26px;
	height: 22px;
	background-position: -241px -77px;
}

#header .layer_setting .item_setting .ico_phone {
	width: 22px;
	height: 23px;
	background-position: -255px -105px;
}

#header .layer_setting .item_setting .ico_product {
	width: 24px;
	height: 23px;
	background-position: -200px -105px;
}

#header .lnb {
	overflow: hidden;
	position: relative;
	z-index: 10;
	height: 0;
	background: #fff;
	opacity: 0;
	min-width: 1720px;
	border-top: 1px solid #d6d7d5;
}

#header .lnb .wrap_lnb_cont {
	overflow: hidden;
	width: 1720px;
	margin: 0 auto;
}

#header .lnb .lnb_item {
	float: left;
	margin-left: 60px;
}

#header .lnb .lnb_item p {
	font-size: 16px;
	color: #333;
	line-height: 26px;
}

#header .lnb .lnb_menu {
	overflow: hidden;
	float: right;
	border-right: 1px solid #d6d7d5;
}

#header .lnb .lnb_menu .item_menu_wrap {
	float: left;
	width: 251px;
	height: 220px;
	padding-top: 30px;
	border-left: 1px solid #d6d7d5;
}

#header .lnb .lnb_menu .item_menu_wrap .item_menu {
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
	color: #101a34;
}

#header .lnb .lnb_menu .item_menu_wrap .item_menu:hover {
	color: #1764ae;
}

#header .snb {
	position: absolute;
	top: 100px;
	right: 0;
	left: 0;
	height: 59px;
	border-bottom: 1px solid #ebebeb;
	background: #fff;
}

#header .snb .wrap_snb_cont {
	position: relative;
	width: 1720px;
	margin: 0 auto;
}

#header .snb .snb_menu {
	display: inline-block;
	overflow: hidden;
	position: absolute;
	top: 0;
}

#header .snb .item_menu_wrap {
	float: left;
}

#header .snb .item_menu_wrap .item_menu_link {
	display: block;
	padding: 0 45px;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	color: #101a34;
	font-weight: bold;
}

#header .snb .item_menu_wrap .item_menu_link:hover, #header .snb .item_menu_wrap .item_menu_link.on {
	color: #1764ae;
}

#header .snb .item_menu_wrap .item_menu_link:hover:after, #header .snb .item_menu_wrap .item_menu_link.on:after {
	width: 14px;
	height: 9px;
	background-position: -287px -132px;
}

#header .snb .item_menu_wrap .item_menu_link:after {
	width: 14px;
	height: 9px;
	background-position: -269px -132px;
	margin: -2px 0 2px 10px;
}

#header .snb .item_menu_wrap .item_menu {
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 50px;
	color: #101a34;
}

#header .snb .item_menu_sub {
	margin-top: -1px;
	padding: 20px 0;
	border: 1px solid rgba(0, 0, 0, 0.05);
	background: #fff;
}

#header .snb .item_menu_sub .item_sub_link {
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	color: #5b5f6a;
}

#header .snb .item_menu_sub .item_sub_link:hover, #header .snb .item_menu_sub .item_sub_link.on {
	color: #1764ae;
	text-decoration: underline;
}

#wrap.bridge #header .snb .snb_menu {
	left: 468px;
}

#wrap.bridge .visual_area {
	background: red;
}

#wrap.video #header .snb .snb_menu {
	left: 727px;
}

#wrap.video .visual_area {
	background: orange;
}

#wrap.cloud #header .snb .snb_menu {
	left: 977px;
}

#wrap.cloud .visual_area {
	background: gold;
}

#wrap.town #header .snb .snb_menu {
	left: 1231px;
}

#wrap.town .visual_area {
	background: green;
}

#wrap.contact #header .snb .snb_menu {
	right: 16px;
}

#wrap.contact .visual_area {
	background: purple;
}

.s-hidden {
	visibility: hidden;
}

.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	border: 1px solid #eaeaea;
	line-height: 38px;
	vertical-align: top;
}

.select .styledSelect {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	padding: 0 10px;
}

.select .styledSelect:after {
	content: "";
	position: absolute;
	top: 15px;
	right: 15px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-color: #bcbcbc transparent transparent transparent;
}

.select .styledSelect:active, .select .styledSelect.active {
	background-color: #eee;
}

.select .options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	border: 1px solid #ccc;
	background-color: #fff;
}

.select .options li {
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.select .options li:hover {
	background-color: #eee;
}

.path_area {
	padding: 40px 0 23px 0;
	margin-bottom: 80px;
	border-bottom: 1px solid #dedede;
	text-align: right;
}

.path_area a {
	display: inline-block;
	margin-left: 11px;
	font-size: 12px;
	line-height: 15px;
	color: #989898;
	vertical-align: top;
}

.path_area a::after {
	width: 3px;
	height: 5px;
	background-position: -286px -66px;
	margin: -1px 0 1px 11px;
	vertical-align: middle;
}

.path_area strong {
	display: inline-block;
	margin-left: 11px;
	padding: 0;
	border-bottom: 2px solid #d4d4d4;
	font-size: 12px;
	line-height: 15px;
	color: #000;
	font-weight: normal;
	vertical-align: top;
}

.tab {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 50px;
	border: 1px solid #e0e0e0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: #fbfbfb;
}

.tab a {
	display: table-cell;
	position: relative;
	text-align: center;
	font-size: 18px;
	line-height: 58px;
	color: #666;
}

.tab a + a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 1px;
	height: 16px;
	margin: auto;
	background-color: #e8e8e8;
}

.tab a.on {
	color: #fff;
	background: #cb2e3c;
}

.tab a.on:before {
	display: none;
}

.ico_pdf {
	width: 29px;
	height: 35px;
	background-position: -241px -38px;
}

.ico_video_s {
	width: 24px;
	height: 24px;
	background-position: -274px -38px;
}

.ico_download {
	width: 14px;
	height: 18px;
	background-position: 0px -171px;
	margin: -2px 6px 2px 0;
}

.ico_favorite {
	width: 14px;
	height: 14px;
	background-position: -200px -153px;
	margin: -2px 6px 2px 0;
}

.ico_email {
	width: 20px;
	height: 13px;
	background-position: -221px -132px;
	margin: -2px 6px 2px 0;
}

.btn_border {
	overflow: hidden;
	display: inline-block;
	height: 38px;
	padding: 0 10px;
	border: 1px solid #40abd8;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	vertical-align: top;
	color: #0d8dc3;
	font-size: 14px;
	line-height: 38px;
}

.btn_colored {
	overflow: hidden;
	display: inline-block;
	height: 40px;
	padding: 0 15px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	vertical-align: top;
	color: #fff;
	background: #1764ae;
	font-size: 14px;
	line-height: 38px;
}

.dropdown {
	display: inline-block;
	position: relative;
	width: 300px;
	border-bottom: 1px solid #000;
	text-align: left;
	white-space: nowrap;
}

.dropdown .btn_dropdown {
	position: relative;
	display: block;
	font-size: 16px;
	color: #666;
	line-height: 55px;
}

.dropdown .btn_dropdown:after {
	width: 8px;
	height: 5px;
	background-position: -274px -66px;
	position: absolute;
	top: 0;
	right: 8px;
	bottom: 0;
	margin: auto;
}

.dropdown .dropdown_layer {
	display: none;
	position: absolute;
	top: 56px;
	left: 0;
	right: 0;
	z-index: 900;
	padding: 0 28px;
	border: 1px solid #eaeaea;
	border-top: none;
	background: #fff;
}

.dropdown .dropdown_layer .dropdown_item {
	overflow: hidden;
	display: block;
	line-height: 54px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dropdown .dropdown_layer .dropdown_item + .dropdown_item {
	border-top: 1px dashed #e7e7e7;
}

.dropdown .dropdown_layer .dropdown_item.on {
	color: #cb2e3c;
}

.paginate {
	margin: 65px 0 0 0;
	text-align: center;
	line-height: 25px;
}

.paginate [class^=btn_] {
	display: inline-block;
	padding: 6px;
	vertical-align: top;
}

.paginate .ico_arr {
	display: block;
	overflow: hidden;
	width: 10px;
	height: 10px;
	border: 2px solid #aaa;
	border-width: 2px 2px 0 0;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	color: transparent;
}

.paginate .btn_prev .ico_arr, .paginate .btn_front .ico_arr {
	-webkit-transform: rotate(45deg) scale(-1);
	        transform: rotate(45deg) scale(-1);
}

.paginate .btn_front:before, .paginate .btn_end:before {
	content: '';
	display: block;
	overflow: hidden;
	float: left;
	width: 10px;
	height: 10px;
	margin-right: -7px;
	border: 2px solid #aaa;
	border-width: 2px 2px 0 0;
	-webkit-transform: rotate(45deg) scale(-1);
	        transform: rotate(45deg) scale(-1);
	color: transparent;
}

.paginate .btn_end:before {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.paginate .paginate_number {
	display: inline-block;
	vertical-align: top;
}

.paginate .paginate_number a {
	display: inline-block;
	margin: 0 13px;
	font-size: 20px;
	color: #888;
	vertical-align: top;
}

.paginate .paginate_number .active {
	color: #cb2e3c;
	text-decoration: underline;
}

.section_top .visual_area {
	height: 357px;
	margin-bottom: -22px;
	text-align: center;
}

.section_top .visual_area h2 {
	padding-top: 221px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
}

.section_top .visual_area p {
	margin-top: 16px;
	font-size: 17px;
	text-align: center;
	color: #fff;
}

.container .content {
	position: relative;
	width: 1160px;
	padding: 40px 50px 120px;
	margin: 0 auto;
	background: #fff;
}

.container .content:before, .container .content:after {
	content: '';
	position: absolute;
	top: 22px;
	width: 32px;
	height: 34px;
	background: url(../img/bg_sub_gr.png) no-repeat 0 0;
}

.container .content:before {
	right: 100%;
	-webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
}

.container .content:after {
	left: 100%;
}

.section_pi .btn_area {
	overflow: hidden;
}

.section_pi .btn_area .fl {
	float: left;
}

.section_pi .btn_area .fr {
	float: right;
}

.section_pi .btn_area .btn_colored {
	overflow: hidden;
	display: inline-block;
	height: 40px;
	padding: 0 15px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	vertical-align: top;
	color: #fff;
	background: #1764ae;
	font-size: 14px;
	line-height: 38px;
}

.section_pi h3 {
	margin-top: 48px;
	font-size: 24px;
	color: #000;
	font-weight: normal;
}

.section_pi .pi_txt {
	margin-top: 23px;
	padding: 30px 59px;
	font-size: 16px;
	color: #666;
	background: #faf9f7;
}

.section_pi .pi_txt p {
	line-height: 29px;
}

.section_pi .pi_txt p + p {
	margin-top: 10px;
}

.section_video {
	margin-top: -80px;
}

.section_video .ico_video_s {
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.section_video .wrap_video {
	overflow: hidden;
}

.section_video .btn_area {
	padding-top: 50px;
}

.section_video .player_area {
	width: 824px;
	margin-top: 29px;
}

.section_video .player_area .player_meta {
	height: 75px;
	padding: 25px 0 0 40px;
	line-height: 23px;
	border-top: 1px solid #e4e4e2;
	background: #faf9f7;
}

.section_video .player_area .player_meta .title {
	font-size: 16px;
	color: #333;
}

.section_video .player_area .player_meta .date {
	font-size: 14px;
	color: #989898;
}

.section_video .video_area {
	float: right;
	width: 262px;
	height: 683px;
	padding: 0 0 0 38px;
	background: #faf9f7;
}

.section_video .video_area .video_tab {
	overflow: hidden;
	margin-top: 42px;
	margin-right: 60px;
}

.section_video .video_area .video_tab .video_tab_btn {
	float: left;
	width: 50%;
	height: 48px;
	padding-top: 7px;
	padding-left: 14px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 1px solid #b7b7b7;
	border-bottom: none;
	font-size: 15px;
	color: #b7b7b7;
	line-height: 18px;
}

.section_video .video_area .video_tab .video_tab_btn.on {
	position: relative;
	border-color: #40abd8;
	font-weight: bold;
	color: #40abd8;
}

.section_video .video_area .video_tab .video_tab_btn + .video_tab_btn {
	margin-left: -1px;
}

.section_video .video_area .scroll {
	overflow: hidden;
	overflow-y: auto;
	height: 516px;
	margin-top: 26px;
}

.section_video .video_area .video_list {
	width: 202px;
}

.section_video .video_area .video_list li + li {
	margin-top: 36px;
}

.section_video .video_area .video_list a {
	display: block;
}

.section_video .video_area .video_list .thumb {
	position: relative;
}

.section_video .video_area .video_list .title {
	overflow: hidden;
	margin-top: 15px;
	font-size: 14px;
	line-height: 16px;
	color: #666;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.section_video .video_area .video_list .time {
	display: block;
	font-size: 12px;
	line-height: 15px;
	color: #989898;
}

.section_video .section_cont {
	padding-top: 70px;
}

.section_video .section_cont .select_area {
	text-align: right;
	padding-bottom: 30px;
}

.section_library .library_list {
	overflow: hidden;
	margin-left: -80px;
}

.section_library .library_list li {
	position: relative;
	float: left;
	width: 230px;
	margin-bottom: 70px;
	margin-left: 80px;
}

.section_library .library_list a {
	display: block;
}

.section_library .library_list a:hover .title {
	color: #cb2e3c;
}

.section_library .library_list .thumb_area {
	width: 230px;
	height: 270px;
	padding: 47px 0 0 0;
	margin-bottom: 30px;
	text-align: center;
	background: #f2f2f2;
}

.section_library .library_list .thumb_area .thumb_wrap {
	display: inline-block;
	position: relative;
}

.section_library .library_list .thumb_area .thumb_wrap:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 6px;
	top: 9px;
	background: #fff;
}

.section_library .library_list .thumb_area img {
	z-index: 5;
	position: relative;
	vertical-align: top;
	background: pink;
}

.section_library .library_list .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	line-height: 20px;
	color: #333;
}

.section_library .library_list .date {
	font-size: 14px;
	color: #989898;
}

.section_library .library_list .dsc_area {
	overflow: hidden;
}

.section_library .library_list .dsc_area .ico_area {
	float: right;
	margin-left: 15px;
	padding-top: 5px;
}

.section_library .paginate {
	margin-top: 0;
}

.section_library .top_area {
	position: relative;
	padding-bottom: 40px;
}

.section_library .top_area .select_area {
	position: absolute;
	top: -15px;
	right: 0;
}

.section_faq .search_area {
	margin-bottom: 55px;
}

.section_faq .search_area:after {
	content: '';
	display: block;
	clear: both;
}

.section_faq .search_area .ico_search {
	width: 17px;
	height: 17px;
	background-position: -281px -105px;
	margin: -1px 7px 1px 0;
}

.section_faq .search_area .ico_reply {
	width: 17px;
	height: 18px;
	background-position: -302px -38px;
	margin: -1px 7px 1px 0;
}

.section_faq .search_area .search_form {
	float: left;
	width: 810px;
	height: 70px;
	border: 1px solid #e0e0e0;
}

.section_faq .search_area .search_form .search_select {
	z-index: 10;
	float: left;
	position: relative;
	width: 208px;
}

.section_faq .search_area .search_form .search_select .select_btn {
	position: relative;
	display: block;
	padding: 0 0 0 38px;
	border-right: 1px solid #e0e0e0;
	font-size: 16px;
	color: #666;
	line-height: 70px;
	background: #fbfbfb;
}

.section_faq .search_area .search_form .search_select .select_btn::after {
	width: 8px;
	height: 5px;
	background-position: -274px -66px;
	position: absolute;
	top: 0;
	right: 40px;
	bottom: 0;
	margin: auto;
}

.section_faq .search_area .search_form .search_select .select_layer {
	display: none;
	position: absolute;
	top: 70px;
	left: -1px;
	right: 0;
	padding: 15px 0;
	border: 1px solid #e0e0e0;
	background: #fff;
}

.section_faq .search_area .search_form .search_select .select_layer .select_layer_opt {
	display: block;
	padding: 0 0 0 38px;
	line-height: 45px;
}

.section_faq .search_area .search_form .search_select .select_layer .select_layer_opt:hover {
	text-decoration: underline;
}

.section_faq .search_area .search_form .search_input {
	float: left;
}

.section_faq .search_area .btn_colored {
	float: left;
	overflow: hidden;
	width: 170px;
	height: 72px;
	padding: 0;
	margin-left: 5px;
	-webkit-border-radius: 0;
	        border-radius: 0;
	background: #40abd8;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 72px;
}

.section_faq .search_area .btn_border {
	float: left;
	width: 166px;
	height: 70px;
	-webkit-border-radius: 0;
	        border-radius: 0;
	padding: 0;
	margin-left: 5px;
	font-size: 18px;
	text-align: center;
	line-height: 70px;
}

.section_faq .faq_list {
	border-top: 1px solid #000;
}

.section_faq .faq_list .item_q {
	position: relative;
	overflow: hidden;
	display: block;
	padding: 50px 75px 47px 124px;
	border-bottom: 1px solid #e8e8e8;
	font-size: 18px;
	color: #333;
}

.section_faq .faq_list .item_q:before {
	width: 14px;
	height: 20px;
	background-position: -172px -91px;
	position: absolute;
	top: 50px;
	left: 60px;
}

.section_faq .faq_list .item_q:after {
	content: '';
	position: absolute;
	top: 50px;
	right: 20px;
	width: 10px;
	height: 10px;
	border: 2px solid #ccc;
	border-width: 2px 2px 0 0;
	-webkit-transform: rotate(-45deg) scale(-1);
	        transform: rotate(-45deg) scale(-1);
}

.section_faq .faq_list .item_q .cate {
	float: left;
	position: relative;
	width: 102px;
	font-weight: normal;
}

.section_faq .faq_list .item_q .cate:after {
	content: '';
	position: absolute;
	top: 4px;
	right: 0;
	width: 0;
	height: 16px;
	border-left: 1px solid #e8e8e8;
	vertical-align: top;
}

.section_faq .faq_list .item_q .title {
	overflow: hidden;
	padding: 0 0 0 30px;
}

.section_faq .faq_list .item_a {
	display: none;
	padding: 50px 100px 50px 124px;
	background: #faf9f7;
}

.section_faq .faq_list .item_a p {
	font-size: 16px;
	line-height: 30px;
	color: #707070;
}

.section_faq .faq_list .item_a p + p {
	margin-top: 32px;
}

.section_faq .faq_list .item_a p .txt_link {
	text-decoration: underline;
	color: #1e78e8;
}

.section_faq .faq_list .open .item_q:before {
	width: 14px;
	height: 20px;
	background-position: -172px -131px;
}

.section_faq .faq_list .open .item_q:after {
	top: 55px;
	border-color: #cb2e3c;
	border-width: 2px 2px 0 0;
	-webkit-transform: rotate(-45deg) scale(1);
	        transform: rotate(-45deg) scale(1);
}

.section_faq .faq_list .open .item_a {
	display: block;
}

.section_usefullink .usefullink_list {
	overflow: hidden;
	margin-left: -68px;
}

.section_usefullink .usefullink_list li {
	float: left;
	width: 240px;
	height: 414px;
	margin-left: 67px;
	text-align: center;
}

.section_usefullink .usefullink_list .logo_area {
	display: table-cell;
	width: 240px;
	height: 260px;
	text-align: center;
	vertical-align: middle;
	background: #f8f8f8;
}

.section_usefullink .usefullink_list .title {
	display: block;
	margin: 19px 0 12px 0;
	font-size: 18px;
	color: #333;
}

.section_usefullink .usefullink_list .btn_border {
	padding: 0 24px;
}

.section_usefullink .usefullink_list .btn_border:after {
	width: 7px;
	height: 12px;
	background-position: -218px -153px;
	margin: -2px 0 2px 7px;
}

.section_contact {
	text-align: center;
}

.section_contact .tit {
	display: block;
	margin: 30px 0;
	font-size: 40px;
	line-height: 50px;
	color: #cb2e3c;
	font-weight: normal;
}

.section_contact .info_area {
	position: relative;
	margin: 0 auto 81px;
	width: 720px;
	padding: 50px 0;
	border: 1px solid #eaeaea;
	border-top: 0;
}

.section_contact .info_area:before {
	position: absolute;
	top: 0;
	left: -1px;
	right: -1px;
	content: '';
	border-top: 3px solid #cb2e3c;
	height: 0;
}

.section_contact .info_area:after {
	content: '';
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	width: 720px;
	height: 72px;
	margin-top: 1px;
	background: url(../img/bg_contact_bottom.png) no-repeat 0 0;
}

.section_contact .info_area ul {
	display: inline-block;
}

.section_contact .info_area li {
	overflow: hidden;
	text-align: left;
	line-height: 38px;
}

.section_contact .info_area strong {
	position: relative;
	display: inline-block;
	width: 143px;
	font-weight: normal;
	vertical-align: top;
}

.section_contact .info_area strong:after {
	content: '';
	position: absolute;
	right: 0;
	top: 13px;
	width: 0;
	height: 12px;
	border-right: 1px solid #dbdbdb;
}

.section_contact .info_area p {
	display: inline-block;
	padding-left: 39px;
	vertical-align: top;
}

.section_contact .info_area p a {
	color: #40abd8;
	text-decoration: underline;
}

.section_contact .btn_link {
	display: inline-block;
	width: 232px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	color: #fff;
	font-size: 20px;
	line-height: 54px;
	background: #cb2e3c;
	vertical-align: top;
}

.section_request {
	text-align: center;
}

.section_request .txt_request {
	font-size: 20px;
	color: #333;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
}

.section_request .request_area {
	border-top: 1px solid #333;
	margin-top: 35px;
	margin-bottom: 80px;
	text-align: left;
}

.section_request .request_area .bx {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e1e1e1;
	font-size: 16px;
	color: #333;
}

.section_request .request_area .title {
	display: table-cell;
	width: 140px;
	height: 50px;
	padding: 27px 0 0 58px;
	background: #faf9f7;
	vertical-align: top;
}

.section_request .request_area .title strong {
	font-weight: normal;
}

.section_request .request_area .cont {
	display: table-cell;
	position: relative;
	padding: 18px 0 0 30px;
	background: #fff;
}

.section_request .request_area .cont .visual_obj {
	position: absolute;
	top: -68px;
	right: 100px;
}

.section_request .request_area .cont .select {
	min-width: 278px;
}

.section_request .request_area .cont .text {
	width: 580px;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	border: 1px solid #eaeaea;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 16px;
	line-height: 40px;
	color: #333;
	vertical-align: top;
}

.section_request .request_area .cont .textarea {
	display: block;
	width: 864px;
	height: 286px;
	margin: 12px 0 20px;
	padding: 10px;
	border: 1px solid #eaeaea;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 16px;
	line-height: 30px;
	color: #333;
	vertical-align: top;
}

.section_request .request_area .cont.type_phone .select {
	min-width: 98px;
}

.section_request .request_area .cont.type_phone .text {
	width: 86px;
}

.section_request .btn_request {
	display: inline-block;
	padding: 0 53px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	color: #fff;
	font-size: 20px;
	line-height: 54px;
	background: #cb2e3c;
	vertical-align: top;
}

.login {
	position: relative;
	min-height: 100%;
	padding-top: 210px;
	padding-bottom: 120px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.login .content {
	overflow: hidden;
	width: 920px;
	margin: 0 auto;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	background: #fff;
}

.login .content .fl {
	float: left;
	width: 315px;
	height: 550px;
	padding: 0 0 0 74px;
	border-right: 1px dashed #bababa;
	background: #f6f6f6;
}

.login .content .fl .tit {
	display: block;
	margin-top: 105px;
	font-family: Titillium Web,sans-serif;
	font-size: 48px;
	line-height: 60px;
	color: #1876d0;
}

.login .content .fl .welcome_txt {
	font-size: 16px;
	line-height: 24px;
	color: #333;
	text-align: left;
}

.login .content .fl .welcome_list {
	margin-top: 30px;
}

.login .content .fl .welcome_list li {
	position: relative;
	padding-left: 16px;
	font-size: 13px;
	line-height: 24px;
	color: #333;
}

.login .content .fl .welcome_list li:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 4px;
	height: 4px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: #a7a7a7;
}

.login .content .fl .welcome_list .mail {
	display: inline-block;
	border-bottom: 2px solid #a7a7a7;
	margin-top: 3px;
	vertical-align: top;
	line-height: 19px;
}

.login .content .fr {
	float: left;
	width: 530px;
}

.login .content .img_doctor {
	padding: 75px 0 65px;
	text-align: center;
}

.login .content .img_doctor .ico_login_tit {
	width: 196px;
	height: 87px;
	background-position: 0px 0px;
}

.login .content .section_form {
	width: 370px;
	margin: 0 auto;
}

.login .content .section_form .wrap_input {
	height: 50px;
	margin-bottom: 15px;
	-webkit-border-radius: 25px;
	        border-radius: 25px;
	background: lightgray;
}

.login .content .section_form .wrap_input input {
	width: 100%;
	padding: 0;
	background: transparent;
}

.login .content .section_form .btn_submit {
	display: block;
	height: 50px;
	-webkit-border-radius: 25px;
	        border-radius: 25px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	background: #1764ae;
}

.login .content .section_id {
	overflow: hidden;
	width: 370px;
	margin: 19px auto 0;
}

.login .content .section_id .btn_join {
	float: left;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	color: #1764ae;
}

.login .content .section_id .btn_remember {
	float: right;
}

.login .login_txt {
	margin-top: 35px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.4);
	line-height: 20px;
	text-align: center;
}

.login .login_footer {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 920px;
	height: 80px;
	margin-left: -460px;
	text-align: left;
	font-size: 13px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.4);
}

.login .login_footer strong {
	font-size: 18px;
}

.login .login_footer p {
	margin-top: 6px;
}

#wrap.home .section_spot .wrap_cont {
	position: relative;
	width: 1720px;
	margin: 0 auto;
}

#wrap.home .section_spot .spot {
	height: 1000px;
}

#wrap.home .section_spot .title_area {
	position: absolute;
	top: 75px;
	left: 60px;
}

#wrap.home .section_spot .title_area h3 {
	font-size: 36px;
	font-weight: bold;
	color: #fff;
}

#wrap.home .section_spot .title_area .sub_title {
	margin-top: 33px;
	font-size: 20px;
	color: #fff;
}

#wrap.home .section_spot .video_area {
	height: 870px;
}

#wrap.home .section_home.type_colored {
	background: #f5f5f5;
}

#wrap.home .section_home .wrap_cont {
	width: 1720px;
	margin: 0 auto;
	padding: 80px 60px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

#wrap.home .section_home h3 {
	font-size: 36px;
	font-weight: bold;
	color: #000;
}

#wrap.home .list_cloud {
	overflow: hidden;
	margin-top: 50px;
}

#wrap.home .list_cloud li {
	float: left;
	margin-left: 34px;
	width: 374px;
	background: #f5f5f5;
}

#wrap.home .list_cloud li:first-child {
	margin-left: 0;
}

#wrap.home .list_cloud a {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	        flex-direction: column;
}

#wrap.home .list_cloud img {
	display: block;
	width: 374px;
	height: 470px;
}

#wrap.home .list_cloud p {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 140px;
	font-size: 20px;
	line-height: 30px;
	-webkit-align-self: center;
	        align-self: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	        align-items: center;
}

#wrap.home .cont_bridge {
	position: relative;
	overflow: hidden;
	margin-top: 35px;
}

#wrap.home .cont_bridge .bridge_img {
	float: right;
	width: 1000px;
	height: 610px;
	margin-left: 35px;
}

#wrap.home .cont_bridge .bridge_txt {
	font-size: 20px;
	line-height: 36px;
	color: #000;
}

#wrap.home .cont_bridge .more_link {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 20px;
	color: #134071;
	text-decoration: underline;
}

#wrap.home .cont_guide {
	overflow: hidden;
}

#wrap.home .cont_guide .list_guide {
	float: left;
	margin-top: 35px;
}

#wrap.home .cont_guide .list_guide li {
	float: left;
	margin-right: 72px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}

#wrap.home .cont_guide .list_guide li p {
	padding: 25px 0;
}

#wrap.home .cont_guide .list_banner {
	float: right;
	width: 540px;
}

#wrap.home .cont_guide .list_banner .item_banner {
	display: block;
	margin-top: 30px;
}

#wrap.home .cont_guide .list_banner .item_banner:first-child {
	margin-top: 0;
}

#wrap.home .cont_guide .list_banner .item_banner img {
	width: 540px;
	height: 180px;
}

#footer {
	overflow: hidden;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 105px;
	background-color: #444;
}

#footer .wrap_cont {
	position: relative;
	width: 1720px;
	margin: 0 auto;
	padding: 0 60px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

#footer .footer_items {
	overflow: hidden;
	margin-top: 34px;
}

#footer .footer_items a {
	float: left;
	font-size: 13px;
	line-height: 15px;
	color: #fff;
}

#footer .footer_items a + a:before {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 0;
	height: 13px;
	margin: 1px 15px 0 16px;
	border-left: 1px solid #fff;
}

#footer .footer_copyright {
	font-size: 13px;
	color: #fff;
}

#footer .footer_logo {
	position: absolute;
	top: 0;
	right: 60px;
}

#footer .footer_logo .ico_footer_logo {
	width: 122px;
	height: 34px;
	background-position: -200px 0px;
}

/*# sourceMappingURL=hepahealth.css.map */
