body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
}

body, input, textarea, select, table, button, code {
	font-family: -apple-system,BlinkMacSystemFont,helvetica,Apple SD Gothic Neo,sans-serif;
	line-height: 1.6em;
}

html {
	height: 100%;
}

body {
	height: 100%;
	-webkit-text-size-adjust: none;
}

textarea {
	border: 1px solid #bcbcbc;
}

img, fieldset {
	border: 0;
}

img {
	vertical-align: middle;
}

ul, ol {
	list-style: none;
}

em, address, cite, i {
	font-style: normal;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-touch-callout: none;
}

button {
	border: 0;
	background: none;
}

table {
	border-collapse: collapse;
}

.blind {
	overflow: hidden !important;
	position: absolute !important;
	clip: rect(0 0 0 0) !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
}

mark {
	color: inherit;
	font-weight: normal;
	background: none;
}

.elss {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#header {
	position: relative;
	height: 100px;
	margin-bottom: -101px;
	border-bottom: 1px solid rgba(68, 68, 68, 0.5);
}

#header:after {
	content: '';
	display: block;
	clear: both;
	float: left;
}

#header .fr {
	position: absolute;
	top: 0;
	right: 0;
}

#header .wrap_cont {
	z-index: 10;
	position: relative;
	width: 1600px;
	margin: 0 auto;
}

#header .gnb {
	display: inline-block;
	overflow: hidden;
	margin-top: 50px;
	margin-right: -60px;
}

#header .gnb .gnb_item {
	float: left;
	width: 252px;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

#header .header_search {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.5);
}

#header .header_search .item_search {
	display: inline-block;
}

#header .header_search .item_search .label_sch {
	margin-right: 5px;
}

#header .header_search .item_search .input_label_sch {
	width: 90px;
	margin-right: 15px;
	background: none;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#header .header_search .item_link {
	display: inline-block;
	margin-right: 15px;
}

#header .layer_setting {
	position: absolute;
	top: 52px;
	right: -32px;
}

#header .layer_setting .wrap_setting {
	overflow: hidden;
	height: 70px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	background: #fff;
}

#header .layer_setting .item_setting {
	position: relative;
	float: left;
	width: 65px;
	margin: 15px 0 0 0;
	-webkit-align-content: center;
	        align-content: center;
	color: #014592;
	font-size: 11px;
	text-align: center;
}

#header .layer_setting .item_setting + .item_setting:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 39px;
	border-left: 1px solid #efefef;
}

#header .lnb {
	clear: both;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	height: 250px;
	background: rgba(255, 255, 255, 0.5);
}

#header .lnb .wrap_lnb_cont {
	overflow: hidden;
	width: 1720px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.5);
}

#header .lnb .lnb_item {
	float: left;
	margin-left: 60px;
}

#header .lnb .lnb_item p {
	font-size: 16px;
	color: #333;
	line-height: 26px;
}

#header .lnb .lnb_menu {
	overflow: hidden;
	float: right;
}

#header .lnb .lnb_menu .item_menu_wrap {
	float: left;
	width: 251px;
	height: 220px;
	padding-top: 30px;
	border-left: 1px solid #d6d7d5;
}

#header .lnb .lnb_menu .item_menu_wrap .item_menu {
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 50px;
	color: #101a34;
}

#header .snb {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	height: 59px;
	border-bottom: 1px solid #ebebeb;
	background: rgba(255, 255, 255, 0.5);
}

#header .snb .wrap_snb_cont {
	overflow: hidden;
	width: 1720px;
	margin: 0 auto;
}

#header .snb .snb_menu {
	overflow: hidden;
	float: right;
	width: 1260px;
}

#header .snb .item_menu_wrap {
	float: left;
	width: 251px;
}

#header .snb .item_menu_wrap .item_menu_link {
	display: block;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	color: #101a34;
	font-weight: bold;
}

#header .snb .item_menu_wrap .item_menu_link:hover, #header .snb .item_menu_wrap .item_menu_link.on {
	color: #1764ae;
}

#header .snb .item_menu_wrap .item_menu {
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 50px;
	color: #101a34;
}

#header .snb .item_menu_sub {
	padding: 25px 0;
	background: #fff;
}

#header .snb .item_menu_sub .item_sub_link {
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #5b5f6a;
}

#header .snb .item_menu_sub .item_sub_link:hover, #header .snb .item_menu_sub .item_sub_link.on {
	color: #1764ae;
	text-decoration: underline;
}

.section_top .visual_area {
	height: 357px;
	margin-bottom: -22px;
	background: pink;
	text-align: center;
}

.section_top .visual_area h2 {
	padding-top: 223px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
}

.section_top .visual_area p {
	margin-top: 10px;
	font-size: 17px;
	text-align: center;
	color: #fff;
}

.container .content {
	width: 1260px;
	margin: 0 auto;
	background: #fff;
}

.path_area {
	padding: 40px 0 23px 0;
	margin: 0 50px;
	border-bottom: 1px solid #dedede;
	text-align: right;
}

.path_area a {
	display: inline-block;
	padding-left: 11px;
	font-size: 12px;
	line-height: 15px;
	color: #989898;
	vertical-align: top;
}

.path_area a::after {
	content: '';
	display: inline-block;
	width: 3px;
	height: 5px;
	margin: 5px 0 0 11px;
	background: red;
	vertical-align: top;
}

.path_area strong {
	display: inline-block;
	border-bottom: 2px solid #d4d4d4;
	font-size: 12px;
	line-height: 15px;
	color: #000;
	font-weight: normal;
	vertical-align: top;
}

.login {
	position: relative;
	min-height: 100%;
	padding-top: 210px;
	padding-bottom: 120px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.login .content {
	overflow: hidden;
	width: 920px;
	margin: 0 auto;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	background: #fff;
}

.login .content .fl {
	float: left;
	width: 315px;
	height: 550px;
	padding: 0 0 0 74px;
	border-right: 1px dashed #bababa;
	background: #f6f6f6;
}

.login .content .fl .welcome_txt {
	font-size: 16px;
	line-height: 24px;
	color: #333;
	text-align: left;
}

.login .content .fl .welcome_list {
	margin-top: 30px;
}

.login .content .fl .welcome_list li {
	position: relative;
	padding-left: 16px;
	font-size: 13px;
	line-height: 24px;
	color: #333;
}

.login .content .fl .welcome_list li:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 4px;
	height: 4px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: #a7a7a7;
}

.login .content .fr {
	float: left;
	width: 530px;
}

.login .content .img_doctor {
	width: 50px;
	margin: 0 auto;
	border: 1px solid gold;
}

.login .content .section_form {
	width: 370px;
	margin: 0 auto;
}

.login .content .section_form .wrap_input {
	height: 50px;
	margin-bottom: 15px;
	-webkit-border-radius: 25px;
	        border-radius: 25px;
	background: lightgray;
}

.login .content .section_form .wrap_input input {
	width: 100%;
	padding: 0;
	background: transparent;
}

.login .content .section_form .btn_submit {
	display: block;
	height: 50px;
	-webkit-border-radius: 25px;
	        border-radius: 25px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	background: #1764ae;
}

.login .content .section_id {
	overflow: hidden;
	width: 370px;
	margin: 0 auto;
}

.login .content .section_id .btn_join {
	float: left;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	color: #1764ae;
}

.login .content .section_id .btn_remember {
	float: right;
}

.login .login_txt {
	margin-top: 35px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.4);
	line-height: 20px;
	text-align: center;
}

.login .login_footer {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 920px;
	height: 80px;
	margin-left: -460px;
	text-align: left;
	font-size: 13px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.4);
}

.login .login_footer strong {
	font-size: 18px;
}

.login .login_footer p {
	margin-top: 6px;
}

#home .section_spot .wrap_cont {
	position: relative;
	width: 1600px;
	margin: 0 auto;
}

#home .section_spot .spot {
	height: 1000px;
}

#home .section_spot .title_area {
	position: absolute;
	top: 75px;
	left: 0;
}

#home .section_spot .title_area h3 {
	font-size: 36px;
	font-weight: bold;
	color: #fff;
}

#home .section_spot .title_area .sub_title {
	margin-top: 33px;
	font-size: 20px;
	color: #fff;
}

#home .section_spot .video_area {
	height: 870px;
}

#home .section_home {
	border: 1px solid red;
}

#home .section_home.type_colored {
	background: #f5f5f5;
}

#home .section_home .wrap_cont {
	width: 1600px;
	margin: 0 auto;
	padding: 80px 0;
}

#home .section_home h3 {
	font-size: 36px;
	font-weight: bold;
	color: #000;
}

#home .list_cloud {
	overflow: hidden;
	margin-top: 50px;
}

#home .list_cloud li {
	float: left;
	margin-left: 34px;
	width: 374px;
	background: #f5f5f5;
}

#home .list_cloud li:first-child {
	margin-left: 0;
}

#home .list_cloud a {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	        flex-direction: column;
}

#home .list_cloud img {
	display: block;
	width: 374px;
	height: 470px;
}

#home .list_cloud p {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 140px;
	font-size: 20px;
	line-height: 30px;
	-webkit-align-self: center;
	        align-self: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	        align-items: center;
}

#home .cont_bridge {
	position: relative;
	overflow: hidden;
	margin-top: 35px;
}

#home .cont_bridge .bridge_img {
	float: right;
	width: 1000px;
	height: 610px;
	margin-left: 35px;
}

#home .cont_bridge .bridge_txt {
	font-size: 20px;
	line-height: 36px;
	color: #000;
}

#home .cont_bridge .more_link {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 20px;
	color: #134071;
	text-decoration: underline;
}

#home .cont_guide {
	overflow: hidden;
}

#home .cont_guide .list_banner {
	float: right;
	width: 540px;
}

#home .cont_guide .list_banner .item_banner {
	display: block;
	margin-top: 30px;
}

#home .cont_guide .list_banner .item_banner:first-child {
	margin-top: 0;
}

#home .cont_guide .list_banner .item_banner img {
	width: 540px;
	height: 180px;
}

#footer {
	overflow: hidden;
	height: 105px;
	background-color: #444;
}

#footer .wrap_cont {
	position: relative;
	width: 1600px;
	margin: 0 auto;
}

#footer .footer_items {
	overflow: hidden;
	margin-top: 34px;
}

#footer .footer_items a {
	float: left;
	font-size: 13px;
	line-height: 15px;
	color: #fff;
}

#footer .footer_items a + a:before {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 0;
	height: 13px;
	margin: 1px 15px 0 16px;
	border-left: 1px solid #fff;
}

#footer .footer_copyright {
	font-size: 13px;
	color: #fff;
}

#footer .footer_logo {
	position: absolute;
	top: 0;
	right: 0;
}

.board .list {
	overflow: hidden;
}

.board .listItem {
	float: left;
	width: 150px;
	border: 1px solid red;
}

.board .listItem .listItemLink {
	display: block;
}

.board .listItem .listItemLink:hover .title {
	color: red;
}

.board .listItem .wrap_thumb {
	text-align: center;
	background: gray;
}

.board .listItem .wrap_meta {
	overflow: hidden;
}

.board .listItem .title {
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.board .listItem .iconfile {
	float: right;
}

.board .paginate {
	text-align: center;
}

.board .paginate .paginate_number {
	display: inline-block;
	vertical-align: top;
}

.board .paginate .paginate_number .active {
	color: #cb2e3c;
	text-decoration: underline;
}

.sptest {
	display: inline-block;
	overflow: hidden;
	color: transparent;
	background: url("../img/sprite/sp_test.png") 0 0 no-repeat;
	-webkit-background-size: 60px 74px;
	background-size: 60px 74px;
	vertical-align: 0;
	white-space: nowrap;
}

.ico_close {
	width: 40px;
	height: 40px;
	background-position: 0px -34px;
}

.ico_beta {
	width: 60px;
	height: 30px;
	background-position: 0px 0px;
}

/*# sourceMappingURL=hepahealth.css.map */
